@import url(//fonts.googleapis.com/css?family=Lato:400,700,900);
@charset "UTF-8";
html {
  box-sizing: border-box;
  color: #606060;
  background-color: #d4d4d4;
  font-family: 'Lato',sans-serif;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.313rem;
}
h5 {
  font-size: 1.125rem;
}
h6 {
  font-size: 1rem;
}
pre {
  display: block;
  padding: 0.1rem;
  margin: 0 0 0.5rem;

  font-size: 1rem;
  line-height: 0.9rem;
  word-break: break-all;
  word-wrap: break-word;

  border: 1px solid #cccccc;
  border-radius: 3px;
  color: #212121;
  background-color: #f5f5f5;
}
a {
  color: #459cde;
  padding: 2px;
}
a:hover{
  color: #65bcfe;
}
.btn {
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 4px; /*2em;*/
  color: #606060;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4em;
  /*letter-spacing: .1em;*/
  margin: 0;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  /*text-transform: uppercase;*/
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  /*width: auto;*/
  -webkit-appearance: none
}
.btn:hover{
  color: #606060;
  border-color: #a0a0a0;
}
.btn:focus, .btn.active{ /*border-color: #808080;*/
  outline: none;
}
.btn.is-outline{
  color: #606060;
  background-color: transparent;
}
.btn.is-outline:hover{
  color: #ffffff;
  background-color: #f0f0f0;
}
.btn.is-flat{
  color: #606060;
  border-color: transparent;
  text-decoration: underline;
}
.btn.is-flat:hover{
  color: #ffffff;
  background-color: #f0f0f0;
}
.btn.is-primary {
  color: #ffffff;
  border-color: #65bcfe;
  background-color: #65bcfe
}
.btn.is-primary:hover{
  border-color: #459cde;
  background-color: #459cde;
}
.btn.is-primary:focus, .btn.is-primary.active{
  border-color: #808080;
  outline: none;
}
.btn.is-primary.is-outline{
  color: #65bcfe;
  background-color: transparent;
}
.btn.is-primary.is-outline:hover{
  color: #ffffff;
  background-color: #459cde;
}
.btn.is-primary.is-flat{
  color: #65bcfe;
  background-color: transparent;
  border: transparent;
}
.btn.is-primary.is-flat:hover{
  color: #ffffff;
  background-color: #459cde;
}
.btn.is-success {
  color: #ffffff;
  border-color: #94cd5a;
  background-color: #5acd59
}
.btn.is-success:hover{
  border-color: #32c07f;
  background-color: #32c07f;
}
.btn.is-success:focus, .btn.is-success.active{
  border-color: #808080;
  outline: none;
}
.btn.is-success.is-outline{
  color: #5acd59;
  background-color: transparent;
}
.btn.is-success.is-outline:hover{
  color: #ffffff;
  background-color: #32c07f;
}
.btn.is-success.is-flat{
  color: #5acd59;
  background-color: transparent;
  border: transparent;
}
.btn.is-success.is-flat:hover{
  color: #ffffff;
  background-color: #32c07f;
}
.btn.is-info {
  color: #ffffff;
  border-color: #4cdadd;
  background-color: #6ad1dd
}
.btn.is-info:hover{
  border-color: #33e9ec;
  background-color: #33e9ec;
}
.btn.is-info:focus, .btn.is-info.active{
  border-color: #808080;
  outline: none;
}
.btn.is-info.is-outline{
  color: #6ad1dd;
  background-color: transparent;
}
.btn.is-info.is-outline:hover{
  color: #ffffff;
  background-color: #33e9ec;
}
.btn.is-info.is-flat{
  color: #6ad1dd;
  background-color: transparent;
  border: transparent;
}
.btn.is-info.is-flat:hover{
  color: #ffffff;
  background-color: #33e9ec;
}
.btn.is-warning {
  color: #ffffff;
  border-color: #ffa924;
  background-color: #ffa924
}
.btn.is-warning:hover{
  border-color: #ffd11e;
  background-color: #ffd11e;
}
.btn.is-warning:focus, .btn.is-warning.active{
  border-color: #808080;
  outline: none;
}
.btn.is-warning.is-outline{
  color: #ffa924;
  background-color: transparent;
}
.btn.is-warning.is-outline:hover{
  color: #ffffff;
  background-color: #ffd11e;
}
.btn.is-warning.is-flat{
  color: #ffa924;
  background-color: transparent;
  border: transparent;
}
.btn.is-warning.is-flat:hover{
  color: #ffffff;
  background-color: #ffd11e;
}
.btn.is-danger {
  color: #ffffff;
  border-color: #fc573f;
  background-color: #fc573f
}
.btn.is-danger:hover{
  border-color: #fc4016;
  background-color: #fc4016;
}
.btn.is-danger:focus, .btn.is-danger.active{
  border-color: #808080;
  outline: none;
}
.btn.is-danger.is-outline{
  color: #fc573f;
  background-color: transparent;
}
.btn.is-danger.is-outline:hover{
  color: #ffffff;
  background-color: #fc4016;
}
.btn.is-danger.is-flat{
  color: #fc573f;
  background-color: transparent;
  border: transparent;
}
.btn.is-danger.is-flat:hover{
  color: #ffffff;
  background-color: #fc4016;
}
.btn.is-dark {
  color: #ffffff;
  border-color: #4e4f51;
  background-color: #4e4f51
}
.btn.is-dark:hover{
  border-color: #8a8b8f;
  background-color: #8a8b8f;
}
.btn.is-dark:focus, .btn.is-dark.active{
  border-color: #808080;
  outline: none;
}
.btn.is-dark.is-outline{
  color: #4e4f51;
  background-color: transparent;
}
.btn.is-dark.is-outline:hover{
  color: #ffffff;
  background-color: #8a8b8f;
}
.btn.is-dark.is-flat{
  color: #4e4f51;
  background-color: transparent;
  border: transparent;
}
.btn.is-dark.is-flat:hover{
  color: #ffffff;
  background-color: #8a8b8f;
}
.btn {
}
.btn.is-xs{
  border-radius: 2px;
  font-size: 0.6rem;
  padding: 0.5em 1em;
}
.btn.is-sm{
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 0.5em 1em;
}
.btn.is-md{
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.45em 1em;
}
.btn.is-lg{
  border-radius: 6px;
  font-size: 1.6rem;
  padding: 0.4em 1em;
}
.btn[disabled], .btn[disabled]:hover {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  cursor: not-allowed;
}
.btn.is-round {
  line-height: 1em;
  /*font-size: 1rem;*/
  padding: 0.75em;
  border-radius: 1000px /*border-radius: 50%;*/
}
.btn.is-round.is-sm, .btn.is-round.is-md, .btn.is-round.is-lg{
  border-radius: 1000px; /*border-radius: 50%;*/
}
.btn {
}
.btn.twitter{
  color: #ffffff;
  background-color: #0084b4;
  border-color: #0084b4;
}
.btn.twitter:hover{
  background-color: #008fc2;
}
.btn.facebook{
  color: #ffffff;
  background-color: #3b5998;
  border-color: #3b5998;
}
.btn.facebook:hover{
  background-color: #446db5;
}
.btn.google-plus{
  color: #ffffff;
  background-color: #dc4a38;
  border-color: #dc4a38;
}
.btn.google-plus:hover{
  background-color: #f04f3d;
}
input[type=checkbox] {
  /*display: none;*/
  position: absolute;
  left: -9999px;
}
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 0.9rem;

  display: inline-block;

  width: 1rem;
  height: 1rem;

  border: 1px solid #d1d1d1;
  background: transparent;
  border-radius: 2px;

  content: ' ';
  vertical-align: -2px;
  letter-spacing: 1px;
}
input[type=checkbox]:checked + label:before {

  content: "\f00c";
  vertical-align: 1px;
  letter-spacing: 5px;
}
input[type=checkbox]:disabled + label, input[type=checkbox]:disabled + label:disabled {
  color: #b8b8b8;
}
input[type=radio] {
  position: relative;
  margin: 0 0.25rem 0 0;
  cursor: pointer;
}
input[type=radio]:before {
  position: absolute;
  content: "";

  top: 0.2rem;
  left: 0.25rem;
  z-index: 1;
  width: 0.5rem;
  height: 0.5rem;
  background: #606060;
  border-radius: 50%;
  transition: transform 0.2s cubic-bezier(0.3, 1, 0.5, 0.75);
  transform: scale(0, 0);
}
input[type=radio]:checked:before {
  transform: scale(1, 1);
}
input[type=radio]:after {
  position: absolute;
  content: "";
  top: -0.05rem;
  left: 0rem;

  width: 1rem;
  height: 1rem;

  background: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
}
input[type=radio]:disabled + label, input[type=radio]:disabled + label:disabled {
  color: #b8b8b8;
}
input[type=radio]:disabled:before{
  background: #d1d1d1;
}
input, select, textarea {
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.5rem 0.5rem
  /*
  &.is-sm {
    border-radius: 2px;
    font-size: 0.8rem;
  }
  &.is-md {
    border-radius: 4px;
    font-size: 1.2rem;
  }
  &.is-lg {
    border-radius: 5px;
    font-size: 1.4rem;
  }
  */
}
input.is-xs, select.is-xs, textarea.is-xs{
  border-radius: 2px;
  font-size: 0.6rem;
  padding: 0.5em 1em;
}
input.is-xs, select.is-xs, textarea.is-xs{
  border-radius: 2px;
  font-size: 0.6rem;
  padding: 0.5em 1em;
}
input.is-sm, select.is-sm, textarea.is-sm{
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 0.5em 1em;
}
input.is-md, select.is-md, textarea.is-md{
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.45em 1em;
}
input.is-lg, select.is-lg, textarea.is-lg{
  border-radius: 6px;
  font-size: 1.6rem;
  padding: 0.4em 1em;
}
input, textarea, select, fieldset {
  /*margin-bottom: 0.5rem;*/
}
input[type=text], input[type=tel], input[type=password], input[type=number], input[type=email], input[type=search], select, textarea {
  -webkit-appearance: none;
  width: 100%;
}
input.error {
  background-color: #ffd2cc;
  border-color: #ff5f3a;
}
input.success {
  background-color: #d2ffcc;
  border-color: #5bd042;
}
.group {
  display: inline-flex;
  flex-direction: row;
  vertical-align: middle;
}
.group .btn:hover {
  z-index: 100;
}
.group > * {
  margin-right: -1px;
  border-radius: 0;
}
.group > *:first-child {
  border-radius: 4px 0 0 4px;
}
.group > *:last-child {
  border-radius: 0 4px 4px 0;
}
.group.vertical {
  flex-direction: column;
}
.group.vertical > * {
  margin-left: 0;
  margin-bottom: -1px;
}
.group.vertical > *:first-child {
  border-radius: 4px 4px 0 0;
}
.group.vertical > *:last-child {
  border-radius: 0 0 4px 4px;
}
.group-label {
  background-color: #fafafa;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.55rem 0.5rem;
  line-height: normal;
}
.pagination {

}
.panel {

  border: 1px solid #d4d4d4;
  border-radius: 4px;

  padding: 0;
  margin: 5px 0;
  background-color: transparent;
  width: 100%;
  overflow: hidden;



}
.panel .panel-header {
  font-weight: bold;
  border-bottom: 1px solid #d4d4d4;
}
.panel > * {
  padding: 10px;
}
.panel .panel-footer {
  font-weight: bold;
  border-top: 1px solid #d4d4d4;
}
.panel.is-xs{
  border-radius: 2px;
}
.panel.is-sm{
  border-radius: 3px;
}
.panel.is-md{
  border-radius: 5px;
}
.panel.is-lg{
  border-radius: 6px;
}
.panel.is-xs, .panel-header.is-xs, .panel-footer.is-xs {
  font-size: 0.6rem;
}
.panel.is-sm, .panel-header.is-sm, .panel-footer.is-sm {
  font-size: 0.8rem;
}
.panel.is-md, .panel-header.is-md, .panel-footer.is-md {
  font-size: 1.2rem;
}
.panel.is-lg, .panel-header.is-lg, .panel-footer.is-lg {
  font-size: 1.6rem;
}
.control {
  display: block;
  position: relative;
  margin-bottom: 0.5rem;
  cursor: pointer;

  /*background-color: #ffffd0;*/
  /*padding-left: 10px;*/
}
.section {
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  padding: 1em;
  margin: 1rem 0;
}
.control {
  margin-bottom: 0.5em;
}
label {
  color: #606060;
  font-weight: 600;
  margin-bottom: 0.25em;

}
label span.required {
  color: #ff0000;
  font-size: 0.9rem;
}
label span.description {
  color: #808080;
  font-size: 0.75rem;
  font-weight: normal;
}
label span.success {
  color: #5bd042;
  font-size: 0.9rem;
  font-weight: normal;
}
label span.error {
  color: #ff5f3a;
  font-size: 0.9rem;
  font-weight: normal;
}
.label {
  background-color: #fafafa;
  border-radius: 0.2rem;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 800;
  padding: 0.25em 0.5em;
}
.badge {
  background-color: #ffffff;
  border-radius: 100rem;
  color: #606060;
  font-size: 0.9em;
  font-weight: 600;
  padding: 0.25em 0.5em;
}
.close {
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 1.75rem;
  overflow: hidden;
  position: relative;
  width: 1.75rem;
  user-select: none;
  vertical-align: middle
}
.close:before, .close:after{
  background-color: #606060;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  margin-left: -25%;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 50%;
}
.close:before{
  transform: rotate(45deg);
}
.close:after{
  transform: rotate(-45deg);
}
.close.is-square, .close.is-circle{
  background-color: rgba(0, 0, 0, 0.1);
}
.close.is-square:hover, .close.is-circle:hover{
  background-color: rgba(0, 0, 0, 0.3);
}
.close.is-circle{
  border-radius: 50%;
}
.close.is-xs{
  height: 1rem;
  width: 1rem;
}
.close.is-sm{
  height: 1.25rem;
  width: 1.25rem;
}
.close.is-md{
  height: 2.25rem;
  width: 2.25rem;
}
.close.is-lg{
  height: 3rem;
  width: 3rem;
}
.is-square.close:before, .is-square.close:after, .is-circle.close:before, .is-circle.close:after {
  background-color: #ffffff;
}
.alert {
  color: #606060;
  display: block;
  position: relative;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.75rem 0.75rem;

  border: none;
  border-radius: 5px;
  background-color: #fafafa;
}
.alert .close {
  float: right;
}
.alert.is-primary, .alert.is-success, .alert.is-info, .alert.is-warning, .alert.is-dark, .alert.is-danger{
  color: #ffffff;
}
.modal {

  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  position: absolute;
  display: none
}
.modal.active{
  display: block;
}
.modal-background {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  position: absolute;
  background: rgba(0,0,0,0.5);
}
.modal-container {
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  margin: 0 auto;
  width: 500px;

  max-height: calc(100vh - 160px);
}
.modal-content {
  color: #000000;
  background-color: #ffffff;
}
.modal-header {
  width: 100%;
  padding: 0.5rem 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffffff;
}
.modal-header .close {
  float: right;
}
.modal-body {
  text-align: center;
  padding: 30px 5px;
}
.modal-footer {
  text-align: center;
  padding: 0 0 20px 0;
}
table {
  font-size: inherit;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

}
table th {
  text-align: center;
  vertical-align: middle;
  color: #606060;
}
table td {
  text-align: left;
  vertical-align: middle;
}
.table {
  background-color: #ffffff;
  margin-bottom: 10px;
}
.table th, .table td {
  padding: 4px 8px;
  border: 1px solid #d0d0d0;
  border-width: 0 0 1px;
}
.table tr:last-child td {
  border-bottom-width: 0;
}
.table thead th, .table thead td {
  border-width: 0 0 2px;
  color: #8b8b8b;
}
.table tfoot th, .table tfoot td {
  border-width: 2px 0 0;
  color: #8b8b8b;
}
.table.is-border th {
  background-color: #fafafa;
}
.table.is-border th, .table.is-border td {
  border-width: 1px;
}
.table.is-border tr:last-child td {
  border-bottom-width: 1px;
}
.table.is-striped > tbody > tr:nth-child(odd) {
  background: #fdfdfd;
}
.table.is-hover > tbody tr:hover {
  background: #f5f5f5;
  color: #303030;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
.container-fluid {
  /*
  margin-right: 5px;
  margin-left: 5px;
  */
}
@media screen and (min-width: 90em) {
  .container {
    max-width: 90em;
  }
}
.row, [class*=row-], .col, [class*=col-] {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start
}
.row.is-left, [class*=row-].is-left, .col.is-left, [class*=col-].is-left{
  justify-content: flex-start;
}
.row.is-right, [class*=row-].is-right, .col.is-right, [class*=col-].is-right{
  justify-content: flex-end;
}
.row.is-center, [class*=row-].is-center, .col.is-center, [class*=col-].is-center{
  justify-content: center;
}
.row, [class*=row-] {
  align-items: baseline;
  margin: 0 0 0 -0.5rem;
  width: calc(0.5rem + 100% + 0.5rem)
}
.row.no-gutter, [class*=row-].no-gutter{
  margin: 0;
  width: 100%;
}
.row.no-gutter > .col, .row.no-gutter [class*=col-], [class*=row-].no-gutter > .col, [class*=row-].no-gutter [class*=col-]{
  padding: 0;
}
.col, [class*=col-] {
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0%;
  padding: 0 0.5rem 0.5rem;
}
.col-1{
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}
.col-2{
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}
.col-3{
  flex-basis: 25%;
  max-width: 25%;
}
.col-4{
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}
.col-5{
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}
.col-6{
  flex-basis: 50%;
  max-width: 50%;
}
.col-7{
  flex-basis: 58.33333%;
  max-width: 58.33333%;
}
.col-8{
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}
.col-9{
  flex-basis: 75%;
  max-width: 75%;
}
.col-10{
  flex-basis: 83.33333%;
  max-width: 83.33333%;
}
.col-11{
  flex-basis: 91.66667%;
  max-width: 91.66667%;
}
.col-12{
  flex-basis: 100%;
  max-width: 100%;
}
.row-1 > .col{
  min-width: 100%;
}
.row-2 > .col{
  min-width: 50%;
}
.row-3 > .col{
  min-width: 33.33333%;
}
.row-4 > .col{
  min-width: 25%;
}
.row-5 > .col{
  min-width: 20%;
}
.row-6 > .col{
  min-width: 16.66667%;
}
.row-7 > .col{
  min-width: 14.28571%;
}
.row-8 > .col{
  min-width: 12.5%;
}
.row-9 > .col{
  min-width: 11.11111%;
}
.row-10 > .col{
  min-width: 10%;
}
.row-11 > .col{
  min-width: 9.09091%;
}
.row-12 > .col{
  min-width: 8.33333%;
}
.offset-1{
  margin-left: 8.33333%;
}
.offset-2{
  margin-left: 16.66667%;
}
.offset-3{
  margin-left: 25%;
}
.offset-4{
  margin-left: 33.33333%;
}
.offset-5{
  margin-left: 41.66667%;
}
.offset-6{
  margin-left: 50%;
}
.offset-7{
  margin-left: 58.33333%;
}
.offset-8{
  margin-left: 66.66667%;
}
.offset-9{
  margin-left: 75%;
}
.offset-10{
  margin-left: 83.33333%;
}
.offset-11{
  margin-left: 91.66667%;
}
.offset-12{
  margin-left: 100%;
}
/* RESPONSIVE ROWS */
.row[class*=sm-] > .col, .row[class*=md-] > .col, .row[class*=lg-] > .col {
  min-width: 100%;
}
.row.xs-1 > .col{
  min-width: 100%;
}
.row.xs-2 > .col{
  min-width: 50%;
}
.row.xs-3 > .col{
  min-width: 33.33333%;
}
.row.xs-4 > .col{
  min-width: 25%;
}
.row.xs-5 > .col{
  min-width: 20%;
}
.row.xs-6 > .col{
  min-width: 16.66667%;
}
.row.xs-7 > .col{
  min-width: 14.28571%;
}
.row.xs-8 > .col{
  min-width: 12.5%;
}
.row.xs-9 > .col{
  min-width: 11.11111%;
}
.row.xs-10 > .col{
  min-width: 10%;
}
.row.xs-11 > .col{
  min-width: 9.09091%;
}
.row.xs-12 > .col{
  min-width: 8.33333%;
}
@media all and (min-width: 40em) {
  .row.sm-1 > .col{
    min-width: 100%;
  }
  .row.sm-2 > .col{
    min-width: 50%;
  }
  .row.sm-3 > .col{
    min-width: 33.33333%;
  }
  .row.sm-4 > .col{
    min-width: 25%;
  }
  .row.sm-5 > .col{
    min-width: 20%;
  }
  .row.sm-6 > .col{
    min-width: 16.66667%;
  }
  .row.sm-7 > .col{
    min-width: 14.28571%;
  }
  .row.sm-8 > .col{
    min-width: 12.5%;
  }
  .row.sm-9 > .col{
    min-width: 11.11111%;
  }
  .row.sm-10 > .col{
    min-width: 10%;
  }
  .row.sm-11 > .col{
    min-width: 9.09091%;
  }
  .row.sm-12 > .col{
    min-width: 8.33333%;
  }
}
@media all and (min-width: 64em) {
  .row.md-1 > .col{
    min-width: 100%;
  }
  .row.md-2 > .col{
    min-width: 50%;
  }
  .row.md-3 > .col{
    min-width: 33.33333%;
  }
  .row.md-4 > .col{
    min-width: 25%;
  }
  .row.md-5 > .col{
    min-width: 20%;
  }
  .row.md-6 > .col{
    min-width: 16.66667%;
  }
  .row.md-7 > .col{
    min-width: 14.28571%;
  }
  .row.md-8 > .col{
    min-width: 12.5%;
  }
  .row.md-9 > .col{
    min-width: 11.11111%;
  }
  .row.md-10 > .col{
    min-width: 10%;
  }
  .row.md-11 > .col{
    min-width: 9.09091%;
  }
  .row.md-12 > .col{
    min-width: 8.33333%;
  }
}
@media all and (min-width: 90em) {
  .row.lg-1 > .col{
    min-width: 100%;
  }
  .row.lg-2 > .col{
    min-width: 50%;
  }
  .row.lg-3 > .col{
    min-width: 33.33333%;
  }
  .row.lg-4 > .col{
    min-width: 25%;
  }
  .row.lg-5 > .col{
    min-width: 20%;
  }
  .row.lg-6 > .col{
    min-width: 16.66667%;
  }
  .row.lg-7 > .col{
    min-width: 14.28571%;
  }
  .row.lg-8 > .col{
    min-width: 12.5%;
  }
  .row.lg-9 > .col{
    min-width: 11.11111%;
  }
  .row.lg-10 > .col{
    min-width: 10%;
  }
  .row.lg-11 > .col{
    min-width: 9.09091%;
  }
  .row.lg-12 > .col{
    min-width: 8.33333%;
  }
}
/* RESPONSIVE COLS */
.col[class*=sm-], .col[class*=md-], .col[class*=lg-]{
  min-width: 100%;
}
.col.xs-1{
  min-width: 8.33333%;
}
.col.xs-2{
  min-width: 16.66667%;
}
.col.xs-3{
  min-width: 25%;
}
.col.xs-4{
  min-width: 33.33333%;
}
.col.xs-5{
  min-width: 41.66667%;
}
.col.xs-6{
  min-width: 50%;
}
.col.xs-7{
  min-width: 58.33333%;
}
.col.xs-8{
  min-width: 66.66667%;
}
.col.xs-9{
  min-width: 75%;
}
.col.xs-10{
  min-width: 83.33333%;
}
.col.xs-11{
  min-width: 91.66667%;
}
.col.xs-12{
  min-width: 100%;
}
@media all and (min-width: 40em) {
  .col.sm-1{
    min-width: 8.33333%;
  }
  .col.sm-2{
    min-width: 16.66667%;
  }
  .col.sm-3{
    min-width: 25%;
  }
  .col.sm-4{
    min-width: 33.33333%;
  }
  .col.sm-5{
    min-width: 41.66667%;
  }
  .col.sm-6{
    min-width: 50%;
  }
  .col.sm-7{
    min-width: 58.33333%;
  }
  .col.sm-8{
    min-width: 66.66667%;
  }
  .col.sm-9{
    min-width: 75%;
  }
  .col.sm-10{
    min-width: 83.33333%;
  }
  .col.sm-11{
    min-width: 91.66667%;
  }
  .col.sm-12{
    min-width: 100%;
  }
}
@media all and (min-width: 64em) {
  .col.md-1{
    min-width: 8.33333%;
  }
  .col.md-2{
    min-width: 16.66667%;
  }
  .col.md-3{
    min-width: 25%;
  }
  .col.md-4{
    min-width: 33.33333%;
  }
  .col.md-5{
    min-width: 41.66667%;
  }
  .col.md-6{
    min-width: 50%;
  }
  .col.md-7{
    min-width: 58.33333%;
  }
  .col.md-8{
    min-width: 66.66667%;
  }
  .col.md-9{
    min-width: 75%;
  }
  .col.md-10{
    min-width: 83.33333%;
  }
  .col.md-11{
    min-width: 91.66667%;
  }
  .col.md-12{
    min-width: 100%;
  }
}
@media all and (min-width: 90em) {
  .col.lg-1{
    min-width: 8.33333%;
  }
  .col.lg-2{
    min-width: 16.66667%;
  }
  .col.lg-3{
    min-width: 25%;
  }
  .col.lg-4{
    min-width: 33.33333%;
  }
  .col.lg-5{
    min-width: 41.66667%;
  }
  .col.lg-6{
    min-width: 50%;
  }
  .col.lg-7{
    min-width: 58.33333%;
  }
  .col.lg-8{
    min-width: 66.66667%;
  }
  .col.lg-9{
    min-width: 75%;
  }
  .col.lg-10{
    min-width: 83.33333%;
  }
  .col.lg-11{
    min-width: 91.66667%;
  }
  .col.lg-12{
    min-width: 100%;
  }
}
.width-1{
  width: 8.33333%;
}
.width-2{
  width: 16.66667%;
}
.width-3{
  width: 25%;
}
.width-4{
  width: 33.33333%;
}
.width-5{
  width: 41.66667%;
}
.width-6{
  width: 50%;
}
.width-7{
  width: 58.33333%;
}
.width-8{
  width: 66.66667%;
}
.width-9{
  width: 75%;
}
.width-10{
  width: 83.33333%;
}
.width-11{
  width: 91.66667%;
}
.width-12{
  width: 100%;
}
.grid {
  display: table;
  table-layout: fixed;
  width: 100%;

}
/*
  margin-left: -1rem;
  margin-right: -1rem;
  */
.grid .col {
  display: table-cell;
}
.grid .col-1 {
  width: 8.3333333%;
}
.grid .col-2 {
  width: 16.6666667%;
}
.grid .col-3 {
  width: 25%;
}
.grid .col-4 {
  width: 33.3333333%;
}
.grid .col-5 {
  width: 41.6666667%;
}
.grid .col-6 {
  width: 50%;
}
.grid .col-7 {
  width: 58.3333333%;
}
.grid .col-8 {
  width: 66.6666667%;
}
.grid .col-9 {
  width: 75%;
}
.grid .col-10 {
  width: 83.3333333%;
}
.grid .col-11 {
  width: 91.6666667%;
}
.grid .col-12 {
  width: 100%;
}
.nav {
  align-items: center;
  background: transparent;
  display: flex;
  flex-flow: row nowrap;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  justify-content: flex-start;
  line-height: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav a {
  color: #606060;
  cursor: pointer;
  display: block;
  padding: 1em;
  text-decoration: none;
  text-align: left;
  white-space: nowrap;
}
.nav > li {
  background-color: inherit;
  display: inline-block
}
.nav > li:hover{
  background-color: #f0f0f0;
}
.nav > li:hover > ul{
  display: block;
}
.nav li.active a {
  color: #606060;
  background-color: #ffffff;
}
.nav.is-gap > li {
  padding-left: 0.25em;
  padding-right: 0.25em;
}
/* submenu */
.nav > li > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 200px;

  display: none;
  position: absolute;
  color: #606060;
  background-color: #c0c0c0;
  border: 1px solid #222;
  border-top: 0;
}
/*margin-left: -5px;*/
.nav > li > ul > li {
  display: block;
}
.nav > li > ul > li a:hover {
  background-color: #4e4f51;
  color: #fafafa;
}
.nav.is-box {
  /*
  li.active a {
    color: $btn-default-color;
    background-color: $btn-default-hover;
  }

  li.disabled a {
    color: $text-color;
    background-color: #e0e0e0;
  }

  &.is-outline li.active a {
    color: $text-color;
    border-color: $btn-default-border;
    background-color: transparent;
  }
  */
}
.nav.is-box li {
  background-color: inherit;
  padding: 0.25em 0;
}
.nav.is-box li + li {
  margin-left: 0.25em;
}
.nav.is-box a {
  border: 1px solid transparent;
  border-radius: 5px;
  color: #606060;
  padding: 0.75rem 1rem;
  margin: 0;
}
.nav.is-flat {
  border-bottom: 1px solid #606060;
}
.nav.is-flat a {
  border-bottom: 1px solid #606060;
  margin-bottom: -1px
}
.nav.is-flat a:hover{ /*background-color: transparent;*/ /*border-bottom-color: $btn-default-hover;*/
  color: #606060;
}
.nav.is-flat .active a {
  background-color: transparent;
  border-bottom: 2px solid #606060;
  color: #606060;
  margin-bottom: -1px;
}
.nav.is-tab {
  border-bottom: 1px solid #606060;
}
.nav.is-tab li + li {
  margin-left: 0.25em;
}
.nav.is-tab > li {
  background-color: transparent;
}
.nav.is-tab a {
  border: 1px solid #606060;
  margin-bottom: -1px; /*border-color: transparent;*/ /*
    border-width: 1px;
    border-style: solid;
    border-bottom: none;
    */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0.75em 0 -1px 0;
  padding: 0.75em 1em;
}
.nav.is-tab li.active a {
  color: #606060;
  background-color: #ffffff;
  border-bottom-color: transparent;
}
.sidebar {
  align-items: stretch;
  background: transparent;
  display: flex;
  flex-flow: column nowrap;
  font-family: inherit;
  font-size: 16px;
  font-weight: normal;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;

}
.sidebar li {
  background-color: inherit;
  display: inline-block;
  list-style: none;
}
.sidebar li.title {
  color: #606060;
  font-weight: bold;
  font-size: 2em;
  padding: 0.5em;
  white-space: nowrap;
}
.sidebar a {
  color: #606060;
  cursor: pointer;
  display: block;
  padding: 1em;
  text-decoration: none;
  text-align: left;
  white-space: nowrap;
}
.sidebar > li:hover > ul {
  display: block;
}
.sidebar a:hover {
  background-color: #f0f0f0;
}
.sidebar li.active a {
  color: #606060;
  background-color: #ffffff;
}
.sidebar ul.submenu {
  list-style: none;
  display: none;
  padding: 0;
  margin: 0;
  color: #606060;
  background-color: #c0c0c0;
}
.sidebar ul.submenu > li {
  display: block;
}
.sidebar ul.submenu > li a:hover {
  background-color: #4e4f51;
  color: #fafafa;
}
.sidebar ul.submenu.open{
  display: block;
}
/*
.sidebar .submenu-link > a:after {
  display: block;
  position: absolute;
  content: "\f054";
  font-family: 'FontAwesome';
  vertical-align: middle;
}
*/
.nav {
}
.nav.is-xs{
  font-size: 0.65rem;
}
.nav.is-sm{
  font-size: 0.8rem;
}
.nav.is-md{
  font-size: 1.2rem;
}
.nav.is-lg{
  font-size: 1.4rem;
}
.breadcrumbs {
  background-color: transparent;
  margin: 0;
  padding: 0.5em;
  font-weight: bold;
  font-size: 16px;
}
.breadcrumbs li {
  display: inline;
  list-style: none;
}
.breadcrumbs li:after {
  color: currentColor;
  content: "\f054";
  font-family: 'FontAwesome';
  font-size: 0.75em;
  padding-left: .4em;
}
.breadcrumbs li:last-child:after {
  content: "";
  padding-left: 0;
}
.breadcrumbs li.active > a {
  text-decoration: none;
}
.nav, .sidebar, .breadcrumbs {
}
.nav.is-gray a, .sidebar.is-gray a, .breadcrumbs.is-gray a{
  color: #a0a0a0;
  background-color: #fafafa;
  border-color: #fafafa;
}
.nav.is-gray a:hover, .sidebar.is-gray a:hover, .breadcrumbs.is-gray a:hover{
  background-color: #c0c0c0;
}
.nav.is-gray .active a, .sidebar.is-gray .active a, .breadcrumbs.is-gray .active a{
  color: #a0a0a0;
  background-color: #808080;
}
.nav.is-primary a, .sidebar.is-primary a, .breadcrumbs.is-primary a{
  color: #ffffff;
  border-color: #65bcfe;
  background-color: #65bcfe;
}
.nav.is-primary a:hover, .sidebar.is-primary a:hover, .breadcrumbs.is-primary a:hover{
  background-color: #459cde;
}
.nav.is-primary .active a, .sidebar.is-primary .active a, .breadcrumbs.is-primary .active a{
  color: #ffffff;
  background-color: #4f9fdf;
}
.nav.is-success a, .sidebar.is-success a, .breadcrumbs.is-success a{
  color: #ffffff;
  border-color: #5acd59;
  background-color: #5acd59;
}
.nav.is-success a:hover, .sidebar.is-success a:hover, .breadcrumbs.is-success a:hover{
  background-color: #32c07f;
}
.nav.is-success .active a, .sidebar.is-success .active a, .breadcrumbs.is-success .active a{
  color: #ffffff;
  background-color: #32c07f;
}
.nav.is-info a, .sidebar.is-info a, .breadcrumbs.is-info a{
  color: #ffffff;
  border-color: #6ad1dd;
  background-color: #6ad1dd;
}
.nav.is-info a:hover, .sidebar.is-info a:hover, .breadcrumbs.is-info a:hover{
  background-color: #33e9ec;
}
.nav.is-info .active a, .sidebar.is-info .active a, .breadcrumbs.is-info .active a{
  color: #ffffff;
  background-color: #33e9ec;
}
.nav.is-warning a, .sidebar.is-warning a, .breadcrumbs.is-warning a{
  color: #ffffff;
  border-color: #ffa924;
  background-color: #ffa924;
}
.nav.is-warning a:hover, .sidebar.is-warning a:hover, .breadcrumbs.is-warning a:hover{
  background-color: #ffd11e;
}
.nav.is-warning .active a, .sidebar.is-warning .active a, .breadcrumbs.is-warning .active a{
  color: #ffffff;
  background-color: #ffd11e;
}
.nav.is-danger a, .sidebar.is-danger a, .breadcrumbs.is-danger a{
  color: #ffffff;
  border-color: #fc573f;
  background-color: #fc573f;
}
.nav.is-danger a:hover, .sidebar.is-danger a:hover, .breadcrumbs.is-danger a:hover{
  background-color: #fc4016;
}
.nav.is-danger .active a, .sidebar.is-danger .active a, .breadcrumbs.is-danger .active a{
  color: #ffffff;
  background-color: #fc4016;
}
.nav.is-dark a, .sidebar.is-dark a, .breadcrumbs.is-dark a{
  color: #ffffff;
  border-color: #4e4f51;
  background-color: #4e4f51;
}
.nav.is-dark a:hover, .sidebar.is-dark a:hover, .breadcrumbs.is-dark a:hover{
  background-color: #8a8b8f;
}
.nav.is-dark .active a, .sidebar.is-dark .active a, .breadcrumbs.is-dark .active a{
  color: #ffffff;
  background-color: #8a8b8f;
}
.header {
  background-color: #d4d4d4;
  color: #808080;
}
.brand {
  color: #808080;
  font-weight: bold;
  font-size: 2.5em;
  padding: 0 1rem;
  white-space: nowrap;
}
.main {
  padding-bottom: 1rem;
}
.footer {
  background-color: #d4d4d4;
  color: #ffffff;
  display: block;
  padding: 10px 0;
  text-align: center;
  width: auto;
}
.footer a {
  color: #ffffff
}
.footer a:hover{
  color: #808080;
}
.is-red {
  background-color: #ff0000;
}
.is-cyan {
  background-color: #00ffff;
}
.is-coral {
  background-color: #ff7f50;
}
.is-blue {
  background-color: #0000ff;
}
.is-purple {
  background-color: #800080;
}
.is-yellow {
  background-color: #ffff00;
}
.is-lime {
  background-color: #00ff00;
}
.is-magenta {
  background-color: #ff00ff;
}
.is-indigo {
  background-color: #4b0082;
}
.is-orange {
  background-color: #ffa500;
}
.is-brown {
  background-color: #a52a2a;
}
.is-maroon {
  background-color: #800000;
}
.is-green {
  background-color: #008000;
}
.is-teal {
  background-color: #008080;
}
.is-olive {
  background-color: #808000;
}
.is-white {
  background-color: #ffffff;
}
.is-gray {
  background-color: #808080;
}
.is-silver {
  background-color: #c0c0c0;
}
.is-black {
  background-color: #000000;
}
.is-text-center {
  text-align: center;
}
.is-text-left {
  text-align: left;
}
.is-text-right {
  text-align: right;
}
.is-underline {
  text-decoration: underline;
}
.is-space {
  flex-grow: 1;
}
.is-round {
  border-radius: 50%;
}
.is-columns {
  flex-direction: column;
}
.is-pack {
  width: 1%;
}
.is-block {
  width: 100%;
  /*display: block;*/
}
.is-center {
  margin: 0 auto;
}
.is-show {
  display: block;
}
.is-gutter {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}
.no-gutter {
  padding-right: 0;
  padding-left: 0;
}
.is-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
}
.is-shadow {
  box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}
.is-white {
  background-color: #ffffff;
}
.is-gray {
  background-color: #fafafa;
}
.is-dark {
  background-color: #4e4f51;
}
.is-primary {
  background-color: #55acee;
}
.is-success {
  background-color: #94cd5a;
}
.is-info {
  background-color: #6ad1dd;
}
.is-warning {
  background-color: #ffb812;
}
.is-danger {
  background-color: #fc6e51;
}
.is-pull-right, .on-right {
  float: right;
}
.is-pull-left, .on-left {
  float: left;
}
.is-full-max-width {
  max-width: 100%;
}
.is-flex-start {
  justify-content: flex-start;
}
.is-flex-end {
  justify-content: flex-end;
}
.is-flex-center {
  justify-content: center;
}
.is-space-around {
  justify-content: space-around;
}
.is-space-between {
  justify-content: space-between;
}
.is-flex-auto {
  flex: 1 1 auto;
}
.is-gap {
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.is-margin-none {
  margin: 0;
}
.is-margin {
  margin: 1em;
}
.is-padding-none {
  padding: 0;
}
.is-padding {
  padding: 1em;
}
.hide {
  display: none;
}
.upper {
  text-transform: uppercase;
}
.nowrap {
  white-space: nowrap;
}


