@charset "UTF-8";

html {
  box-sizing: border-box;
  background-color: #d4d4d4;
  color: #606060;
  font-size: 16px;
  font-family: 'Open Sans',sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.header {
  background-color: #808080;
  color: #e0e0e0;
}

.main {
  padding-bottom: 1rem;
}

.alert {
  margin-bottom: 0.5rem;
  padding: 0.75rem 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0;
  color: #606060;
  font-size: 1rem
}

.alert.is-dark, .alert.is-danger{
  color: #ffffff;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.container-fluid {
  /*
  margin-right: 5px;
  margin-left: 5px;
  */
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.btn {
  margin: 0;
  padding: 0.75rem 1rem;
  width: auto;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #ffffff;
  color: #606060;
  white-space: nowrap;
  font-size: 1rem;
  /*position: relative;*/
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none

}

.btn.is-primary, .btn.is-success, .btn.is-info, .btn.is-warning, .btn.is-danger, .btn.is-dark{
  border-color: transparent;
  color: #ffffff;
}

.btn.is-round{
  padding: 0.65rem 0.75rem;
  border-radius: 50%;
}

.btn.is-round.is-sm, .btn.is-round.is-md, .btn.is-round.is-lg{
  border-radius: 50%;
}

.btn:hover{
  border-color: #a0a0a0;
}

.btn:focus{
  outline: none;
  border-color: #808080;
}

.btn.is-sm{
  border-radius: 2px;
  font-size: 0.8rem;
}

.btn.is-md{
  border-radius: 4px;
  font-size: 1.2rem;
}

.btn.is-lg{
  border-radius: 5px;
  font-size: 1.4rem;
}

.nav-brand {
  padding: 0 0.5rem;
  color: #ffffff;
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.8rem;
}

.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;

}

.nav .nav-left, .nav .nav-right {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.nav .nav-left > *, .nav .nav-right > * {
  margin: 4px 2px;
}

.nav .nav-left {
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.nav .nav-right {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 0;
  margin-left: -1rem;
  padding-right: 0;
  padding-left: 0;
  width: calc(100% + 1.0rem + 1.0rem);
}

/*
.row.is-gutter {
  margin: 0;
  > * {
    margin: 0 $gutter $gutter 0;
  }
  > *:last-child {
    margin-right: 0;
  }
}
*/

.col {
  display: block;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /* min-width; 30px*/
  margin-left: 0;
  padding: 0 1rem;
  max-width: 100%;
  width: 100%;
  background-color: #d4d4d4;
}

.col-xs {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  max-width: 100%;
}

.col-1 {
  -webkit-flex-basis: 8.3333333%;
      -ms-flex-preferred-size: 8.3333333%;
          flex-basis: 8.3333333%;
  max-width: 8.3333333%;
}

.col-2 {
  -webkit-flex-basis: 16.6666667%;
      -ms-flex-preferred-size: 16.6666667%;
          flex-basis: 16.6666667%;
  max-width: 16.6666667%;
}

.col-3 {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-flex-basis: 33.3333333%;
      -ms-flex-preferred-size: 33.3333333%;
          flex-basis: 33.3333333%;
  max-width: 33.3333333%;
}

.col-5 {
  -webkit-flex-basis: 41.6666667%;
      -ms-flex-preferred-size: 41.6666667%;
          flex-basis: 41.6666667%;
  max-width: 41.6666667%;
}

.col-6 {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-flex-basis: 58.3333333%;
      -ms-flex-preferred-size: 58.3333333%;
          flex-basis: 58.3333333%;
  max-width: 58.3333333%;
}

.col-8 {
  -webkit-flex-basis: 66.6666667%;
      -ms-flex-preferred-size: 66.6666667%;
          flex-basis: 66.6666667%;
  max-width: 66.6666667%;
}

.col-9 {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-flex-basis: 83.3333333%;
      -ms-flex-preferred-size: 83.3333333%;
          flex-basis: 83.3333333%;
  max-width: 83.3333333%;
}

.col-11 {
  -webkit-flex-basis: 91.6666667%;
      -ms-flex-preferred-size: 91.6666667%;
          flex-basis: 91.6666667%;
  max-width: 91.6666667%;
}

.col-12 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}

/* RESPONSIBLE */

@media all {
  .row.lg-1 > .col {
    min-width: 100%;
  }
  .row.lg-2 > .col {
    min-width: 50%;
  }
  .row.lg-3 > .col {
    min-width: 33.3333333%;
  }
  .row.lg-4 > .col {
    min-width: 25%;
  }
  .row.lg-5 >  .col {
    min-width: 20%;
  }
  .row.lg-6 > .col {
    min-width: 16.6666667%;
  }
}

@media all and (max-width: 1440px) {
  .row.md-1 > .col {
    min-width: 100%;
  }
  .row.md-2 > .col {
    min-width: 50%;
  }
  .row.md-3 > .col {
    min-width: 33.3333333%;
  }
  .row.md-4 > .col {
    min-width: 25%;
  }
  .row.md-5 >  .col {
    min-width: 20%;
  }
  .row.md-6 > .col {
    min-width: 16.6666667%;
  }
}

@media all and (max-width: 1024px) {
  .row.sm-1 > .col {
    min-width: 100%;
  }
  .row.sm-2 > .col {
    min-width: 50%;
  }
  .row.sm-3 > .col {
    min-width: 33.3333333%;
  }
  .row.sm-4 > .col {
    min-width: 25%;
  }
  .row.sm-5 >  .col {
    min-width: 20%;
  }
  .row.sm-6 > .col {
    min-width: 16.6666667%;
  }
}

@media all and (max-width: 640px) {
  .row.xs-1 > .col {
    min-width: 100%;
  }
  .row.xs-2 > .col {
    min-width: 50%;
  }
  .row.xs-3 > .col {
    min-width: 33.3333333%;
  }
  .row.xs-4 > .col {
    min-width: 25%;
  }
  .row.xs-5 >  .col {
    min-width: 20%;
  }
  .row.xs-6 > .col {
    min-width: 16.6666667%;
  }
}

/*
  [class*="col-xs"] {
  background-color: #00d6b2;
  flex: 0 0 auto;
}
*/

.col-xs {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -webkit-flex-basis: 8.3333333%;
      -ms-flex-preferred-size: 8.3333333%;
          flex-basis: 8.3333333%;
  max-width: 8.3333333%;
}

.col-xs-2 {
  -webkit-flex-basis: 16.6666667%;
      -ms-flex-preferred-size: 16.6666667%;
          flex-basis: 16.6666667%;
  max-width: 16.6666667%;
}

.col-xs-3 {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -webkit-flex-basis: 33.3333333%;
      -ms-flex-preferred-size: 33.3333333%;
          flex-basis: 33.3333333%;
  max-width: 33.3333333%;
}

.col-xs-5 {
  -webkit-flex-basis: 41.6666667%;
      -ms-flex-preferred-size: 41.6666667%;
          flex-basis: 41.6666667%;
  max-width: 41.6666667%;
}

.col-xs-6 {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -webkit-flex-basis: 58.3333333%;
      -ms-flex-preferred-size: 58.3333333%;
          flex-basis: 58.3333333%;
  max-width: 58.3333333%;
}

.col-xs-8 {
  -webkit-flex-basis: 66.6666667%;
      -ms-flex-preferred-size: 66.6666667%;
          flex-basis: 66.6666667%;
  max-width: 66.6666667%;
}

.col-xs-9 {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -webkit-flex-basis: 83.3333333%;
      -ms-flex-preferred-size: 83.3333333%;
          flex-basis: 83.3333333%;
  max-width: 83.3333333%;
}

.col-xs-11 {
  -webkit-flex-basis: 91.6666667%;
      -ms-flex-preferred-size: 91.6666667%;
          flex-basis: 91.6666667%;
  max-width: 91.6666667%;
}

.col-xs-12 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}

@media all and (min-width: 640px) {
  [class*="col-sm"] {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    background-color: #ff7823;
  }
  .col-sm {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    -webkit-flex-basis: 8.3333333%;
        -ms-flex-preferred-size: 8.3333333%;
            flex-basis: 8.3333333%;
    max-width: 8.3333333%;
  }
  .col-sm-2 {
    -webkit-flex-basis: 16.6666667%;
        -ms-flex-preferred-size: 16.6666667%;
            flex-basis: 16.6666667%;
    max-width: 16.6666667%;
  }
  .col-sm-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-flex-basis: 33.3333333%;
        -ms-flex-preferred-size: 33.3333333%;
            flex-basis: 33.3333333%;
    max-width: 33.3333333%;
  }
  .col-sm-5 {
    -webkit-flex-basis: 41.6666667%;
        -ms-flex-preferred-size: 41.6666667%;
            flex-basis: 41.6666667%;
    max-width: 41.6666667%;
  }
  .col-sm-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-flex-basis: 58.3333333%;
        -ms-flex-preferred-size: 58.3333333%;
            flex-basis: 58.3333333%;
    max-width: 58.3333333%;
  }
  .col-sm-8 {
    -webkit-flex-basis: 66.6666667%;
        -ms-flex-preferred-size: 66.6666667%;
            flex-basis: 66.6666667%;
    max-width: 66.6666667%;
  }
  .col-sm-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-flex-basis: 83.3333333%;
        -ms-flex-preferred-size: 83.3333333%;
            flex-basis: 83.3333333%;
    max-width: 83.3333333%;
  }
  .col-sm-11 {
    -webkit-flex-basis: 91.6666667%;
        -ms-flex-preferred-size: 91.6666667%;
            flex-basis: 91.6666667%;
    max-width: 91.6666667%;
  }
  .col-sm-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  [class*="col-md"] {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    background-color: #f5ff6a;
  }
  .col-md {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    -webkit-flex-basis: 8.3333333%;
        -ms-flex-preferred-size: 8.3333333%;
            flex-basis: 8.3333333%;
    max-width: 8.3333333%;
  }
  .col-md-2 {
    -webkit-flex-basis: 16.6666667%;
        -ms-flex-preferred-size: 16.6666667%;
            flex-basis: 16.6666667%;
    max-width: 16.6666667%;
  }
  .col-md-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-flex-basis: 33.3333333%;
        -ms-flex-preferred-size: 33.3333333%;
            flex-basis: 33.3333333%;
    max-width: 33.3333333%;
  }
  .col-md-5 {
    -webkit-flex-basis: 41.6666667%;
        -ms-flex-preferred-size: 41.6666667%;
            flex-basis: 41.6666667%;
    max-width: 41.6666667%;
  }
  .col-md-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-flex-basis: 58.3333333%;
        -ms-flex-preferred-size: 58.3333333%;
            flex-basis: 58.3333333%;
    max-width: 58.3333333%;
  }
  .col-md-8 {
    -webkit-flex-basis: 66.6666667%;
        -ms-flex-preferred-size: 66.6666667%;
            flex-basis: 66.6666667%;
    max-width: 66.6666667%;
  }
  .col-md-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-flex-basis: 83.3333333%;
        -ms-flex-preferred-size: 83.3333333%;
            flex-basis: 83.3333333%;
    max-width: 83.3333333%;
  }
  .col-md-11 {
    -webkit-flex-basis: 91.6666667%;
        -ms-flex-preferred-size: 91.6666667%;
            flex-basis: 91.6666667%;
    max-width: 91.6666667%;
  }
  .col-md-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  [class*="col-lg"] {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    background-color: #ffa188;
  }
  .col-lg {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    -webkit-flex-basis: 8.3333333%;
        -ms-flex-preferred-size: 8.3333333%;
            flex-basis: 8.3333333%;
    max-width: 8.3333333%;
  }
  .col-lg-2 {
    -webkit-flex-basis: 16.6666667%;
        -ms-flex-preferred-size: 16.6666667%;
            flex-basis: 16.6666667%;
    max-width: 16.6666667%;
  }
  .col-lg-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-flex-basis: 33.3333333%;
        -ms-flex-preferred-size: 33.3333333%;
            flex-basis: 33.3333333%;
    max-width: 33.3333333%;
  }
  .col-lg-5 {
    -webkit-flex-basis: 41.6666667%;
        -ms-flex-preferred-size: 41.6666667%;
            flex-basis: 41.6666667%;
    max-width: 41.6666667%;
  }
  .col-lg-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-flex-basis: 58.3333333%;
        -ms-flex-preferred-size: 58.3333333%;
            flex-basis: 58.3333333%;
    max-width: 58.3333333%;
  }
  .col-lg-8 {
    -webkit-flex-basis: 66.6666667%;
        -ms-flex-preferred-size: 66.6666667%;
            flex-basis: 66.6666667%;
    max-width: 66.6666667%;
  }
  .col-lg-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-flex-basis: 83.3333333%;
        -ms-flex-preferred-size: 83.3333333%;
            flex-basis: 83.3333333%;
    max-width: 83.3333333%;
  }
  .col-lg-11 {
    -webkit-flex-basis: 91.6666667%;
        -ms-flex-preferred-size: 91.6666667%;
            flex-basis: 91.6666667%;
    max-width: 91.6666667%;
  }
  .col-lg-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }

}

.max-1 .col {
  min-width: 100%;
}

.max-2 .col {
  min-width: 50%;
}

.max-3 .col {
  min-width: 33.3333333%;
}

.max-4 .col {
  min-width: 25%;
}

.max-5 .col {
  min-width: 20%;
}

.max-6 .col {
  min-width: 16.6666667%;
}

.offset-1 {
  margin-left: 8.3333333%;
}

.offset-2 {
  margin-left: 16.6666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333%;
}

.offset-5 {
  margin-left: 41.6666667%;
}

.offset-6 {
  margin-left: 50%;
}

@media all and (max-width: 640px) {
  .visible-sm, .visible-md, .visible-lg {
    display: none;
  }
}

@media all and (min-width: 640px) and (max-width: 1024px){
  .visible-xs, .visible-md, .visible-lg {
    display: none;
  }
}

@media all and (min-width: 1024px) and (max-width: 1440px){
  .visible-xs, .visible-sm, .visible-lg {
    display: none;
  }
}

@media all and (min-width: 1440px) {
  .visible-xs, .visible-sm, .visible-md {
    display: none;
  }
}

label {
  color: #606060;
  font-weight: bold;
}

input {
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  font-size: 1rem

}

input.is-sm{
  border-radius: 2px;
  font-size: 0.8rem;
}

input.is-md{
  border-radius: 4px;
  font-size: 1.2rem;
}

input.is-lg{
  border-radius: 5px;
  font-size: 1.4rem;
}

input[type=text], input[type=password], input[type=number], input[type=email], input[type=search] {
  width: 100%;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: inherit;

}

table th {
  color: #606060;
  vertical-align: middle;
  text-align: center;
}

table td {
  vertical-align: middle;
  text-align: left;
}

.table {
  margin-bottom: 10px;
  background: white;

}

.table th, .table td {
  padding: 4px 8px;
  border: 1px solid #d0d0d0;
  border-width: 0 0 1px;
}

.table tr:hover {
  background: #f5f5f5;
  color: #303030;
}

.table tr:last-child td {
  border-bottom-width: 0;
}

.table thead th, .table thead td {
  border-width: 0 0 2px;
  color: #8b8b8b;
}

.table tfoot th, .table tfoot td {
  border-width: 2px 0 0;
  color: #8b8b8b;
}

.table.is-border th, .table.is-border td{
  border-width: 1px;
}

.table.is-border tr:last-child td{
  border-bottom-width: 1px;
}

.tabs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  color: #606060;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1.5rem;
}

.tabs li {
  display: block;
}

.tabs li a {
  display: block;
  margin: 1rem 0 0 0;
  padding: 0.5rem 1rem;
}

.tabs.is-boxed a{
  border: 1px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #65bcfe;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.tabs.is-boxed a:hover{
  background-color: #459cde;
  color: #ffffff;
}

.tabs.is-boxed li.active a{
  background-color: #ffffff;
  color: #606060;
}

.tabs.is-boxed li + li{
  margin-left: 5px;
}

.tabs.is-flat a{
  color: $text_color;
  text-align: center;
  text-decoration: none;
}

.tabs.is-flat a:hover{
  border-bottom: 2px solid #459cde;
  color: #459cde;
}

.tabs.is-flat li.active a{
  border-bottom: 2px solid #65bcfe;
  color: #65bcfe;
}

.tabs.is-flat li{
  border-bottom: 1px solid #d4d4d4;
}

.tabs.is-sm{
  font-size: 0.8rem;
}

.tabs.is-md{
  font-size: 1.2rem;
}

.tabs.is-lg{
  font-size: 1.4rem;
}

.footer {
  display: block;
  padding: 10px 0;
  width: auto;
  background-color: #d4d4d4;
  color: #ffffff;
  text-align: center;
}

.footer a {
  color: #ffffff;
}

.is-gutter {
  margin: 1rem;
}

.is-text-center {
  text-align: center;
}

.is-space {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.is-white {
  background-color: #ffffff;
}

.is-gray {
  background-color: #e0e0e0;
}

.is-dark {
  background-color: #4e4f51;
}

.is-primary {
  background-color: #55acee;
}

.is-success {
  background-color: #94cd5a;
}

.is-info {
  background-color: #6ad1dd;
}

.is-warning {
  background-color: #ffb812;
}

.is-danger {
  background-color: #fc6e51;
}

.is-round {
  border-radius: 50%;
}

.is-columns {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.is-pack {
  width: 1%;
}

