@charset "UTF-8";

html {
  box-sizing: border-box;
  color: #606060;
  background-color: #d4d4d4;
  font-family: 'Open Sans',sans-serif;
  /*font-size: $font-size;*/
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.is-red {
  background-color: red;

}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.313rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

pre {
  display: block;
  padding: 0.1rem;
  margin: 0 0 0.5rem;

  font-size: 1rem;
  line-height: 0.9rem;
  word-break: break-all;
  word-wrap: break-word;

  border: 1px solid #cccccc;
  border-radius: 3px;
  color: #212121;
  background-color: #f5f5f5;
}

.container {
  margin-right: auto;
  margin-left: auto;

  padding-right: 1rem;
  padding-left: 1rem;
}

.container-fluid {
  /*
  margin-right: 5px;
  margin-left: 5px;
  */
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.alert {
  color: #606060;

  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.75rem 0.75rem;

  border: none;
  border-radius: 5px;
  background-color: #e0e0e0
}

.alert.is-dark, .alert.is-danger{
  color: #ffffff;
}

.btn {
  font-size: 1rem;
  font-family: inherit;

  text-decoration: none;

  vertical-align: middle;
  line-height: normal;  /*line-height: 1em;*/
  text-align: center;

  color: #606060;
  background-color: #ffffff;

  margin: 0;
  padding: 0.5em 0.5em;
  width: auto;

  cursor: pointer;
  user-select: none;
  white-space: nowrap;

  border: 1px solid #d4d4d4;
  border-radius: 4px;

  display: inline-block;
  vertical-align: baseline
}

.btn:hover{
  border-color: #a0a0a0;
}

.btn:focus, .btn.active{
  border-color: #808080;
  outline: none;
}

.btn.is-primary{
  color: #ffffff;
  border-color: transparent;
}

.btn.is-primary:hover{
  background-color: #459cde;
}

.btn.is-primary:focus, .btn.is-primary.active{
  border-color: #808080;
  outline: none;
}

.btn.is-success{
  color: #ffffff;
  border-color: transparent;
}

.btn.is-success:hover{
  background-color: #52cd90;
}

.btn.is-success:focus, .btn.is-success.active{
  border-color: #808080;
  outline: none;
}

.btn.is-info{
  color: #ffffff;
  border-color: transparent;
}

.btn.is-info:hover{
  background-color: #33e9ec;
}

.btn.is-info:focus, .btn.is-info.active{
  border-color: #808080;
  outline: none;
}

.btn.is-warning{
  color: #ffffff;
  border-color: transparent;
}

.btn.is-warning:hover{
  background-color: #ffd11e;
}

.btn.is-warning:focus, .btn.is-warning.active{
  border-color: #808080;
  outline: none;
}

.btn.is-danger{
  color: #ffffff;
  border-color: transparent;
}

.btn.is-danger:hover{
  background-color: #fc4016;
}

.btn.is-danger:focus, .btn.is-danger.active{
  border-color: #808080;
  outline: none;
}

.btn.is-dark{
  color: #ffffff;
  border-color: transparent;
}

.btn.is-dark:hover{
  background-color: #8a8b8f;
}

.btn.is-dark:focus, .btn.is-dark.active{
  border-color: #808080;
  outline: none;
}

.btn {
}

.btn.is-xs{
  border-radius: 2px;
  font-size: 0.6rem;
  padding: 0.5em 1em;
}

.btn.is-sm{
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 0.5em 1em;
}

.btn.is-md{
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.45em 1em;
}

.btn.is-lg{
  border-radius: 6px;
  font-size: 1.6rem;
  padding: 0.4em 1em;
}

.btn[disabled], .btn[disabled]:hover {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  cursor: not-allowed;
}

.btn.is-round {
  line-height: 1em;
  /*font-size: 1rem;*/
  padding: 0.75em;
  border-radius: 1000px /*border-radius: 50%;*/
}

.btn.is-round.is-sm, .btn.is-round.is-md, .btn.is-round.is-lg{
  border-radius: 1000px;
  /*border-radius: 50%;*/
}

.btn {
}

.btn.twitter{
  color: #ffffff;
  background-color: #0084b4;
  border-color: #0084b4;
}

.btn.facebook{
  color: #ffffff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn.google-plus{
  color: #ffffff;
  background-color: #dc4a38;
  border-color: #dc4a38;
}

/*
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  font-family: FontAwesome;
  font-size: 24px;
  display: inline-block;
}

input[type=checkbox] + label:before {
  content: "\f096";
  letter-spacing: 10px;
}

input[type=checkbox]:checked + label:before {
  content: "\f046";
  letter-spacing: 5px;
}
*/

.label {
  font-size: 0.75rem;
  font-weight: 800;
  border-radius: 0.2rem;
  padding: 0.25em 0.5em;
  background-color: #e0e0e0;
  color: #ffffff;

}

input {
  border: 1px solid #d4d4d4;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #ffffff;
  border-radius: 3px;
  font-size: 1rem

}

input.is-sm{
  border-radius: 2px;
  font-size: 0.8rem;
}

input.is-md{
  border-radius: 4px;
  font-size: 1.2rem;
}

input.is-lg{
  border-radius: 5px;
  font-size: 1.4rem;
}

input[type=text], input[type=password], input[type=number], input[type=email], input[type=search] {
  width: 100%;
}

.group {
  display: inline-flex;
  flex-direction: row;
  vertical-align: middle;
}

.group .btn {
  position: relative;
  float: left;
  margin-left: -1px;
  border-radius: 0;
}

.group .btn:first-child {
  border-radius: 4px 0 0 4px;
}

.group .btn:last-child {
  border-radius: 0 4px 4px 0;
}

.group.vertical{
  flex-direction: column;
}

.group.vertical .btn{
  margin-left: 0;
  margin-bottom: -1px;
}

.group.vertical .btn:first-child{
  border-radius: 4px 4px 0 0;
}

.group.vertical .btn:last-child{
  border-radius: 0 0 4px 4px;
}

.control {
  margin-bottom: 0.5em;
}

label {
  color: #606060;
  font-weight: bold;
}

table {
  font-size: inherit;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

}

table th {
  text-align: center;
  vertical-align: middle;
  color: #606060;
}

table td {
  text-align: left;
  vertical-align: middle;
}

.table {
  background-color: #ffffff;
  margin-bottom: 10px;
}

.table th, .table td {
  padding: 4px 8px;
  border: 1px solid #d0d0d0;
  border-width: 0 0 1px;
}

.table tr:hover {
  background: #f5f5f5;
  color: #303030;
}

.table tr:last-child td {
  border-bottom-width: 0;
}

.table thead th, .table thead td {
  border-width: 0 0 2px;
  color: #8b8b8b;
}

.table tfoot th, .table tfoot td {
  border-width: 2px 0 0;
  color: #8b8b8b;
}

.table.is-border th {
  background-color: #fafafa;
}

.table.is-border th, .table.is-border td {
  border-width: 1px;
}

.table.is-border tr:last-child td {
  border-bottom-width: 1px;
}

.row {
  display: flex;

  flex-wrap: wrap;

  flex-direction: row;

  justify-content: flex-start;

  padding-right: 0;
  padding-left: 0;

  margin-right: 0;
  margin-left: -1rem;

  width: calc(100% + 1.0rem + 1.0rem);

}

.row .col {
  display: block;
  flex: 1;
  width: 100%;
  /* min-width; 30px*/
  margin-left: 0;
  padding: 0 1rem;
  max-width: 100%;
}

.row .col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.row .col-1 {
  flex-basis: 8.3333333%;
  max-width: 8.3333333%;
}

.row .col-2 {
  flex-basis: 16.6666667%;
  max-width: 16.6666667%;
}

.row .col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.row .col-4 {
  flex-basis: 33.3333333%;
  max-width: 33.3333333%;
}

.row .col-5 {
  flex-basis: 41.6666667%;
  max-width: 41.6666667%;
}

.row .col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.row .col-7 {
  flex-basis: 58.3333333%;
  max-width: 58.3333333%;
}

.row .col-8 {
  flex-basis: 66.6666667%;
  max-width: 66.6666667%;
}

.row .col-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.row .col-10 {
  flex-basis: 83.3333333%;
  max-width: 83.3333333%;
}

.row .col-11 {
  flex-basis: 91.6666667%;
  max-width: 91.6666667%;
}

.row .col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

/*
.row.is-gutter {
  margin: 0;
  > * {
    margin: 0 $gutter $gutter 0;
  }
  > *:last-child {
    margin-right: 0;
  }
}
*/

@media all {

  .row.lg-1 > .col {
    min-width: 100%;
  }
  .row.lg-2 > .col {
    min-width: 50%;
  }
  .row.lg-3 > .col {
    min-width: 33.3333333%;
  }
  .row.lg-4 > .col {
    min-width: 25%;
  }
  .row.lg-5 >  .col {
    min-width: 20%;
  }
  .row.lg-6 > .col {
    min-width: 16.6666667%;
  }
}

@media all and (max-width: 1440px) {

  .row.md-1 > .col {
    min-width: 100%;
  }
  .row.md-2 > .col {
    min-width: 50%;
  }
  .row.md-3 > .col {
    min-width: 33.3333333%;
  }
  .row.md-4 > .col {
    min-width: 25%;
  }
  .row.md-5 >  .col {
    min-width: 20%;
  }
  .row.md-6 > .col {
    min-width: 16.6666667%;
  }
}

@media all and (max-width: 1024px) {

  .row.sm-1 > .col {
    min-width: 100%;
  }
  .row.sm-2 > .col {
    min-width: 50%;
  }
  .row.sm-3 > .col {
    min-width: 33.3333333%;
  }
  .row.sm-4 > .col {
    min-width: 25%;
  }
  .row.sm-5 >  .col {
    min-width: 20%;
  }
  .row.sm-6 > .col {
    min-width: 16.6666667%;
  }
}

@media all and (max-width: 640px) {

  .row.xs-1 > .col {
    min-width: 100%;
  }
  .row.xs-2 > .col {
    min-width: 50%;
  }
  .row.xs-3 > .col {
    min-width: 33.3333333%;
  }
  .row.xs-4 > .col {
    min-width: 25%;
  }
  .row.xs-5 >  .col {
    min-width: 20%;
  }
  .row.xs-6 > .col {
    min-width: 16.6666667%;
  }
}

/*
  [class*="col-xs"] {
  flex: 0 0 auto;
}
*/

.col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  flex-basis: 8.3333333%;
  max-width: 8.3333333%;
}

.col-xs-2 {
  flex-basis: 16.6666667%;
  max-width: 16.6666667%;
}

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  flex-basis: 33.3333333%;
  max-width: 33.3333333%;
}

.col-xs-5 {
  flex-basis: 41.6666667%;
  max-width: 41.6666667%;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  flex-basis: 58.3333333%;
  max-width: 58.3333333%;
}

.col-xs-8 {
  flex-basis: 66.6666667%;
  max-width: 66.6666667%;
}

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex-basis: 83.3333333%;
  max-width: 83.3333333%;
}

.col-xs-11 {
  flex-basis: 91.6666667%;
  max-width: 91.6666667%;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

@media all and (min-width: 640px) {
  [class*="col-sm"] {
    flex: 0 0 auto;
  }

  .col-sm {
    flex-grow: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    flex-basis: 8.3333333%;
    max-width: 8.3333333%;
  }

  .col-sm-2 {
    flex-basis: 16.6666667%;
    max-width: 16.6666667%;
  }

  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex-basis: 33.3333333%;
    max-width: 33.3333333%;
  }

  .col-sm-5 {
    flex-basis: 41.6666667%;
    max-width: 41.6666667%;
  }

  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex-basis: 58.3333333%;
    max-width: 58.3333333%;
  }

  .col-sm-8 {
    flex-basis: 66.6666667%;
    max-width: 66.6666667%;
  }

  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex-basis: 83.3333333%;
    max-width: 83.3333333%;
  }

  .col-sm-11 {
    flex-basis: 91.6666667%;
    max-width: 91.6666667%;
  }

  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  [class*="col-md"] {
    flex: 0 0 auto;
  }

  .col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    flex-basis: 8.3333333%;
    max-width: 8.3333333%;
  }

  .col-md-2 {
    flex-basis: 16.6666667%;
    max-width: 16.6666667%;
  }

  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex-basis: 33.3333333%;
    max-width: 33.3333333%;
  }

  .col-md-5 {
    flex-basis: 41.6666667%;
    max-width: 41.6666667%;
  }

  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex-basis: 58.3333333%;
    max-width: 58.3333333%;
  }

  .col-md-8 {
    flex-basis: 66.6666667%;
    max-width: 66.6666667%;
  }

  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex-basis: 83.3333333%;
    max-width: 83.3333333%;
  }

  .col-md-11 {
    flex-basis: 91.6666667%;
    max-width: 91.6666667%;
  }

  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  [class*="col-lg"] {
    flex: 0 0 auto;
  }

  .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    flex-basis: 8.3333333%;
    max-width: 8.3333333%;
  }

  .col-lg-2 {
    flex-basis: 16.6666667%;
    max-width: 16.6666667%;
  }

  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex-basis: 33.3333333%;
    max-width: 33.3333333%;
  }

  .col-lg-5 {
    flex-basis: 41.6666667%;
    max-width: 41.6666667%;
  }

  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex-basis: 58.3333333%;
    max-width: 58.3333333%;
  }

  .col-lg-8 {
    flex-basis: 66.6666667%;
    max-width: 66.6666667%;
  }

  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex-basis: 83.3333333%;
    max-width: 83.3333333%;
  }

  .col-lg-11 {
    flex-basis: 91.6666667%;
    max-width: 91.6666667%;
  }

  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

}

.max-1 .col {
  min-width: 100%;
}

.max-2 .col {
  min-width: 50%;
}

.max-3 .col {
  min-width: 33.3333333%;
}

.max-4 .col {
  min-width: 25%;
}

.max-5 .col {
  min-width: 20%;
}

.max-6 .col {
  min-width: 16.6666667%;
}

.offset-1 {
  margin-left: 8.3333333%;
}

.offset-2 {
  margin-left: 16.6666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333%;
}

.offset-5 {
  margin-left: 41.6666667%;
}

.offset-6 {
  margin-left: 50%;
}

@media all and (max-width: 640px) {
  .visible-sm, .visible-md, .visible-lg {
    display: none;
  }
}

@media all and (min-width: 640px) and (max-width: 1024px){
  .visible-xs, .visible-md, .visible-lg {
    display: none;
  }
}

@media all and (min-width: 1024px) and (max-width: 1440px){
  .visible-xs, .visible-sm, .visible-lg {
    display: none;
  }
}

@media all and (min-width: 1440px) {
  .visible-xs, .visible-sm, .visible-md {
    display: none;
  }
}

.grid {
  display: table;
  table-layout: fixed;
  width: 100%;

}

/*
  margin-left: -1rem;
  margin-right: -1rem;
  */

.grid .col {
  display: table-cell;
}

.grid .col-1 {
  width: 8.3333333%;
}

.grid .col-2 {
  width: 16.6666667%;
}

.grid .col-3 {
  width: 25%;
}

.grid .col-4 {
  width: 33.3333333%;
}

.grid .col-5 {
  width: 41.6666667%;
}

.grid .col-6 {
  width: 50%;
}

.grid .col-7 {
  width: 58.3333333%;
}

.grid .col-8 {
  width: 66.6666667%;
}

.grid .col-9 {
  width: 75%;
}

.grid .col-10 {
  width: 83.3333333%;
}

.grid .col-11 {
  width: 91.6666667%;
}

.grid .col-12 {
  width: 100%;
}

.modal {

  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  position: absolute;
  display: none
}

.modal.active{
  display: block;
}

.modal-background {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  position: absolute;
  background: rgba(0,0,0,0.5);
}

.modal-container {
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  margin: 0 auto;
  width: 500px;

  max-height: calc(100vh - 160px);
}

.modal-content {
  color: #000000;
  background-color: #ffffff;
}

.modal-header {
  width: 100%;
  padding: 0.5rem 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffffff;
}

.modal-header .close {
  top:5px;
  right: 12px;
  position: absolute;
  cursor: pointer;
  color: #ffffff;
}

.modal-body {
  text-align: center;
  padding: 30px 5px;
}

.modal-footer {
  text-align: center;
  padding: 0 0 20px 0;
}

.nav-brand {
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.8rem;
  color: #ffffff;
  padding: 0 0.5rem;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

}

.nav .nav-left, .nav .nav-right {
  display: flex;
  flex-flow: row nowrap;
}

.nav .nav-left > *, .nav .nav-right > * {
  /*align-self: center;*/
  /*(margin: 0 2px;*/
}

.nav .nav-left {
  flex-grow: 0;
  justify-content: flex-start;
}

.nav .nav-right {
  flex-grow: 1;
  justify-content: flex-end;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  min-width: 200px;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  color: #606060;
  display: block;
  padding: 15px;
  text-decoration: none;
}

.menu ul li:hover{
  background-color: #4e4f51;
}

.menu ul li:hover ul{
  display: block;
}

.menu ul ul {
  display: none;
  position: absolute;
  background-color: #333;
  border: 1px solid #222;
  border-top: 0;
  margin-left: -5px;
}

.menu ul ul li {
  display: block;
}

.menu ul ul li a:hover {
  color: #606060;
}

.tabs {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  /*overflow-x: auto;*/
  line-height: 1.5rem;
  padding: 0;
  color: #606060;
  margin: 0;
  font-size: 1rem;
}

.tabs li {
  display: block;
}

.tabs li a {
  display: inherit;
  padding: 0.5rem 1rem;
  margin: 1rem 0 0 0;
}

.tabs.is-boxed li + li{
  margin-left: 5px;
}

.tabs.is-boxed a{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid transparent;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #65bcfe;
}

.tabs.is-boxed a:hover{
  color: #ffffff;
}

.tabs.is-boxed a:hover{
  background-color: #459cde;
}

.tabs.is-boxed li.active a{
  color: #606060;
  background-color: #ffffff;
}

.tabs.is-boxed.is-primary a{
  background-color: #65bcfe;
}

.tabs.is-boxed.is-primary a:hover{
  background-color: #459cde;
}

.tabs.is-boxed.is-success a{
  background-color: #5acd59;
}

.tabs.is-boxed.is-success a:hover{
  background-color: #52cd90;
}

.tabs.is-boxed.is-warning a{
  background-color: #ffa924;
}

.tabs.is-boxed.is-warning a:hover{
  background-color: #ffd11e;
}

.tabs.is-boxed.is-danger a{
  background-color: #fc573f;
}

.tabs.is-boxed.is-danger a:hover{
  background-color: #fc4016;
}

.tabs.is-boxed.is-dark a{
  background-color: #4e4f51;
}

.tabs.is-boxed.is-dark a:hover{
  background-color: #8a8b8f;
}

.tabs.is-flat a{
  color: #606060;
  text-align: center;
  text-decoration: none;
}

.tabs.is-flat a:hover{
  color: #459cde;
  border-bottom: 2px solid #459cde;
}

.tabs.is-flat li.active a{
  color: #65bcfe;
  border-bottom: 2px solid #65bcfe;
}

.tabs.is-flat li{
  border-bottom: 1px solid #d4d4d4;
}

.tabs.is-sm{
  font-size: 0.8rem;
}

.tabs.is-md{
  font-size: 1.2rem;
}

.tabs.is-lg{
  font-size: 1.4rem;
}

.toolbar {
  display: flex;
  white-space: nowrap;
  overflow: hidden;

  line-height: 1.5rem;
  color: #606060;

  padding: 0;
  margin: 0;

  font-size: 1rem;
}

.toolbar li {
  display: block;
  padding: 0.25em 0.25em;
}

/* padding: 1em 0.15em 0 0.15em; - tab */

.toolbar li a {
  display: inherit;
  padding: 0.5rem 1rem;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  color: #606060;
  text-align: center
}

.toolbar li a:hover{
  color: #ffffff;
  background-color: #459cde;
}

.toolbar li.active a {
  color: #ffffff;
  background-color: #459cde;
}

.toolbar li.disabled a {
  color: #606060;
  background-color: #e0e0e0;
}

.toolbar.is-primary a{
  background-color: #65bcfe;
}

.toolbar.is-primary a:hover{
  background-color: #459cde;
}

.toolbar.is-success a{
  background-color: #5acd59;
}

.toolbar.is-success a:hover{
  background-color: #52cd90;
}

.toolbar.is-warning a{
  background-color: #ffa924;
}

.toolbar.is-warning a:hover{
  background-color: #ffd11e;
}

.toolbar.is-danger a{
  background-color: #fc573f;
}

.toolbar.is-danger a:hover{
  background-color: #fc4016;
}

.toolbar.is-dark a{
  background-color: #4e4f51;
}

.toolbar.is-dark a:hover{
  background-color: #8a8b8f;
}

.toolbar.is-primary li.active a{
  color: #ffffff;
  background-color: #459cde;
}

.toolbar.is-success li.active a{
  color: #ffffff;
  background-color: #52cd90;
}

.toolbar.is-warning li.active a{
  color: #ffffff;
  background-color: #ffd11e;
}

.toolbar.is-info li.active a{
  color: #ffffff;
  background-color: #33e9ec;
}

.toolbar.is-danger li.active a{
  color: #ffffff;
  background-color: #fc4016;
}

.toolbar.is-dark li.active a{
  color: #ffffff;
  background-color: #8a8b8f;
}

.toolbar.is-xs{
  font-size: 0.75rem;
}

.toolbar.is-sm{
  font-size: 0.8rem;
}

.toolbar.is-md{
  font-size: 1.2rem;
}

.toolbar.is-lg{
  font-size: 1.4rem;
}

.section {
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  padding: 1em;
  margin: 1rem 0;
}

.header {
  color: #e0e0e0;
  background-color: #808080;
}

.main {
  padding-bottom: 1rem;
}

.footer {
  display: block;
  width: auto;
  text-align: center;
  color: #ffffff;
  background-color: #d4d4d4;

  padding: 10px 0;
}

.footer a {
  color: #ffffff;
}

.is-text-center {
  text-align: center;
}

.is-space {
  flex-grow: 1;
}

.is-white {
  background-color: #ffffff;
}

.is-gray {
  background-color: #e0e0e0;
}

.is-dark {
  background-color: #4e4f51;
}

.is-primary {
  background-color: #55acee;
}

.is-success {
  background-color: #94cd5a;
}

.is-info {
  background-color: #6ad1dd;
}

.is-warning {
  background-color: #ffb812;
}

.is-danger {
  background-color: #fc6e51;
}

.is-round {
  border-radius: 50%;
}

.is-columns {
  flex-direction: column;
}

.is-pack {
  width: 1%;
}

.is-block {
  width: 100%;
}

.is-center {
  margin: 0 auto;
}

.is-show {
  display: block;
}

.is-gutter {
  padding-right: 1rem;
  padding-left: 1rem;
}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}

.is-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
}

.is-shadow {
  box-shadow: 1px 1px 1px #2c2c2c;
}


