.nav.is-box {
  li {
    background-color: inherit;
    padding: 0.25em 0;
  }
  li + li {
    margin-left: 0.25em;
  }
  a {
    border: 1px solid inherit;
    border-radius: 5px;
    color: $text-color;
    padding: 0.75rem 1rem;
    margin: 0;
  }
  /*
  li.active a {
    color: $btn-default-color;
    background-color: $btn-default-hover;
  }

  li.disabled a {
    color: $text-color;
    background-color: #e0e0e0;
  }

  &.is-outline li.active a {
    color: $text-color;
    border-color: $btn-default-border;
    background-color: transparent;
  }
  */
}
