.breadcrumbs {
  background-color: transparent;
  margin: 0;
  padding: 0.5em;
  font-weight: bold;
  font-size: $font-size;
  li {
    display: inline;
    list-style: none;
  }
  li:after {
    color: currentColor;
    content: "\f054";
    font-family: 'FontAwesome';
    font-size: 0.75em;
    padding-left: .4em;
  }
  li:last-child:after {
    content: "";
    padding-left: 0;
  }
  li.active > a {
    text-decoration: none;
  }
}