.menu.is-flat {
  border-bottom: 1px solid $btn-default-color;
  a {
    border-bottom: 1px solid $btn-default-color;
    margin-bottom: -1px;
    &:hover {
      /*background-color: transparent;*/
      /*border-bottom-color: $btn-default-hover;*/
      color: $btn-default-color;
    }
  }
  .active a {
    background-color: transparent;
    border-bottom: 2px solid $btn-default-color;
    color: $btn-default-color;
    margin-bottom: -1px;
  }
}
