.menu.is-tab {
  /*border-bottom: 1px solid red;*/ /*$btn-default-border;*/
  li + li {
    margin-left: 0.3em;
  }
  > li {
    background-color: transparent;
  }
  a {
    /*border: 1px solid $btn-default-border;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $text-color;
    margin: 0.75em 0 0px 0;
    padding: 0.75em 1em;
  }
  li.active a {
    color: $text-color;
    background-color: $btn-default-active;
    /*
    border-bottom: 1px solid $btn-default-background;
    */
  }
  a:hover {
    color: #ffffff;
    background-color: $btn-default-hover;
    /*border-bottom: 1px solid $btn-default-background;*/
  }
}