.menu {
  align-items: center;
  background: transparent;
  display: flex;
  flex-flow: row nowrap;
  font-family: inherit;
  font-size: $btn-font-size;
  font-weight: normal;
  justify-content: flex-start;
  margin: 0;
  /*overflow: hidden;*/
  padding: 0;

  list-style: none;
  line-height: 1.5rem;

  a {
    color: $text-color;
    cursor: pointer;
    display: block;
    padding: 1em;
    text-decoration: none;
    text-align: left;
    white-space: nowrap;
  }

  > li {
    display: inline-block;
    &:hover {
      background-color: $btn-default-hover;
      > ul {
        display: block;
      }
    }
  }
}

.menu {
  li.active a {
    color: $text-color;
    background-color: $btn-default-active;
    /*border-bottom: 1px solid $btn-default-background;*/
  }

  > li {
    background-color: inherit;
    display: inline-block;
    a:hover {
      background-color: $btn-default-hover;
      > ul {
        display: block;
      }
    }
  }
}
