.menu.is-flat {
  > li {
    border-bottom: 2px solid #d4d4d4;
    &:hover {
      background-color: transparent;
      border-bottom: 2px solid #459cde;
    }
    a:hover {
      color: #459cde;
    }
  }
  li.active a {
    color: #65bcfe;
    border-bottom: 2px solid #65bcfe;
  }
}