.menu.is-flat {
  border-bottom: 2px solid $btn-primary-background;
  a {
    border-bottom: 2px solid $btn-primary-background;
    margin-bottom: -2px;
    &:hover {
      border-bottom-color: $btn-primary-hover;
      color: $btn-primary-hover;
    }
  }
  .active a {
    border-bottom-color: $btn-primary-active;
    background-color: transparent;
    color: $btn-primary-active;
  }
}


