.nav {
  align-items: center;
  background: transparent;
  display: flex;
  flex-flow: row nowrap;
  font-family: inherit;
  font-size: $font-size;
  font-weight: normal;
  justify-content: flex-start;
  line-height: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    color: currentColor;
    cursor: pointer;
    display: block;
    padding: 1em;
    text-decoration: none;
    text-align: left;
    user-select: none;
    white-space: nowrap;
  }

  li.title {
    color: currentColor;
    font-weight: bold;
    font-size: 2em;
    padding: 0.5em;
    white-space: nowrap;
  }

  .active a {
    color: currentColor;
    background-color: $btn-default-active;
  }

  a:hover {
    color: currentColor;
    background-color: $btn-default-active;
  }

  > li {
    background-color: inherit;
    display: inline-block;
    &:hover {
      background-color: $btn-default-hover;
    }
  }

  ul {
    display: none;
  }

  li > a:after {
    content: " \f107";
    font-family: FontAwesome;
  }

  li > a:only-child:after {
    content: '';
  }
}

.nav {

  ul {
    position: absolute;
    z-index: 10;
  }

  ul li {
    background-color: #a0a0a0;
    display: inline-block;
  }

  li:hover > ul {
    display:inherit;
  }

  ul li {
    float:none;
    display:list-item;
    position: relative;
    width:180px;
  }

  ul ul li {
    position: relative;
    top:-56px;
    left:180px;
  }
}
/* ----------------------------------------------------------------------------------------------------------------- */

.nav.is-vertical {
  width: 100%;

  li {
    display: block;
    width: 100%;
  }
  li > a:after {
    border-color: transparent;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-top-color: currentColor;
    margin-top: 8px;
    margin-right: -8px;
    display: block;
    float: right;
    width: 0;
    height: 0;
    content: " ";
  }
  li > a:only-child:after {
    display: none;
  }

  li > ul {
    display: none;
    &.open {
      display: block;
    }
    color: $text-color;
    background-color: #c0c0c0;
    > li {
      display: block;
      a:hover {
        background-color: $dark-color;
        color: $gray-color;
      }
    }
  }

  li:hover > ul {
    display: block;
  }
  ul {
    position: inherit;
  }

}
/* ----------------------------------------------------------------------------------------------------------------- */
.nav.is-gap > li {
  padding-right: 0.5em;
}

.nav.is-gap > li:last-child {
  padding-right: 0;
}

