.nav {
  align-items: center;
  background: transparent;
  display: flex;
  flex-flow: row nowrap;
  font-family: inherit;
  font-size: $btn-font-size;
  font-weight: normal;
  justify-content: flex-start;
  line-height: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    color: currentColor;
    cursor: pointer;
    display: block;
    padding: 1em;
    text-decoration: none;
    text-align: left;
    white-space: nowrap;
  }

  > li {
    background-color: inherit;
    display: inline-block;
    &:hover {
      background-color: $btn-default-hover;
      > ul {
        display: block;
      }
    }
  }

  li.active a {
    color: currentColor;
    background-color: $btn-default-active;
  }
}

.nav.is-gap > li {
  padding-right: 0.5em;
}

.nav.is-gap > li:last-child {
  padding-right: 0;
}

/* submenu */
.nav > li > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 200px;

  display: none;
  position: absolute;
  color: $text-color;
  background-color: #c0c0c0;
  border: 1px solid #222;
  border-top: 0;
  /*margin-left: -5px;*/
  > li {
    display: block;
    a:hover {
      background-color: $dark-color;
      color: $gray-color;
    }
  }
}
