.nav.is-tab {
  border-bottom: 1px solid $btn-default-color;
  li + li {
    margin-left: 0.25em;
  }
  > li {
    background-color: transparent;
  }
  a {
    border: 1px solid $btn-default-color;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0.75em 0 -1px 0;
    padding: 0.75em 1em;
    border-bottom-color: transparent;
  }
  li.active a {
    color: $btn-default-color;
    background-color: $btn-default-active;
    border-bottom-color: transparent;
  }
}