.toolbar {
  display: flex;
  white-space: nowrap;
  overflow: hidden;

  line-height: 1.5rem;
  color: $text-color;

  padding: 0;
  margin: 0;

  font-size: 1rem;

  li {
    display: block;
    padding: 0.25em 0.25em;
    /* padding: 1em 0.15em 0 0.15em; - tab */

    a {
      display: inherit;
      padding: 0.5rem 1rem;
      margin: 0;
      border: 1px solid transparent;
      border-radius: 5px;
      text-decoration: none;
      color: $text-color;
      text-align: center;
      &:hover {
        color: $btn-default-color;
        background-color: $btn-default-hover;
      }
    }
  }

  &.is-primary a {
    background-color: $btn-primary-background;
    &:hover {
      background-color: $btn-primary-hover;
    }
  }
  &.is-success a {
    background-color: $btn-success-background;
    &:hover {
      background-color: $btn-success-hover;
    }
  }
  &.is-warning a {
    background-color: $btn-warning-background;
    &:hover {
      background-color: $btn-warning-hover;
    }
  }
  &.is-danger a {
    background-color: $btn-danger-background;
    &:hover {
      background-color: $btn-danger-hover;
    }
  }
  &.is-dark a {
    background-color: $btn-dark-background;
    &:hover {
      background-color: $btn-dark-hover;
    }
  }

  li.active a {
    color: $btn-default-color;
    background-color: $btn-default-hover;
  }

  &.is-primary li.active a {
    color: $btn-primary-color;
    background-color: $btn-primary-hover;
  }
  &.is-success li.active a {
    color: $btn-success-color;
    background-color: $btn-success-hover;
  }
  &.is-warning li.active a {
    color: $btn-warning-color;
    background-color: $btn-warning-hover;
  }
  &.is-info li.active a {
    color: $btn-info-color;
    background-color: $btn-info-hover;
  }
  &.is-danger li.active a {
    color: $btn-danger-color;
    background-color: $btn-danger-hover;
  }
  &.is-dark li.active a {
    color: $btn-dark-color;
    background-color: $btn-dark-hover;
  }

  li.disabled a {
    color: $text-color;
    background-color: #e0e0e0;
  }

  &.is-xs {
    font-size: 0.75rem;
  }
  &.is-sm {
    font-size: 0.8rem;
  }
  &.is-md {
    font-size: 1.2rem;
  }
  &.is-lg {
    font-size: 1.4rem;
  }
}

