$nav-flat-bottom-width: 4px;

.nav.is-flat {
  a {
    border-bottom: $nav-flat-bottom-width solid transparent;
    color: currentColor;
  }
  a:hover {
    border-bottom: $nav-flat-bottom-width solid currentColor;
  }
  .active a {
    background-color: transparent;
    border-bottom: $nav-flat-bottom-width solid currentColor;
  }
}
