.nav.is-tab {
  li + li {
    margin-left: 0.25em;
  }
  > li {
    background-color: transparent;
  }
  a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0.75em 0 0 0;
    padding: 0.75em 1em;
    /*border-bottom-color: transparent;*/
    border: none;
    &:hover {
      background-color: map_get($btn-default, hover);
    }
  }

  .active a {
    background-color: map_get($btn-default, active);
    border-bottom: none !important;
  }

  &.is-active-border {
    border-bottom: 1px solid currentColor;
    a {
      border-bottom-width: 1px;
    }
    .active a {
      margin-bottom: -1px;
      border: 1px solid currentColor;
    }

    &.is-thick {
      border-bottom-width: 2px;
      a {
        margin-bottom: 0px;
        border-width: 2px;
      }
      .active a {
        margin-bottom: -2px;
      }
    }
  }

  &.is-border {
    border-bottom: 1px solid currentColor;
    a {
      border: 1px solid currentColor;
      margin-bottom: -1px;
      border-bottom: none;
    }
    .active a {
      margin-bottom: -1px;
    }

    &.is-thick {
      border-bottom-width: 2px;
      a {
        margin-bottom: -2px;
        border-width: 2px;
      }
      .active a {
        margin-bottom: -2px;
      }
    }
  }

  &.reset-radius a {
    border-radius: 0 !important;
  }

}



