.control {
  margin-bottom: 0.5em;
}

label {
  color: $label-color;
  font-weight: 600;
  margin-bottom: 0.25em;

  span.required {
    color: #ff0000;
    font-size: 0.9rem;
  }

  span.description {
    color: #808080;
    font-size: 0.75rem;
    font-weight: normal;
  }

  span.success {
    color: #5bd042;
    font-size: 0.9rem;
    font-weight: normal;
  }

  span.error {
    color: #ff5f3a;
    font-size: 0.9rem;
    font-weight: normal;
  }

}

