.form {
  // background-color: #ffff80;
}

.form-group {
  display: flex;
  flex: {
    direction: column;
  }
  margin-bottom: 0.5rem;

  @media screen and (min-width: 40em) {
    & {
      flex-direction: row;
    }
  }
}

.form-label {
  display: block;
  font-weight: $label-weight;
  flex: none;
  width: $form-label-width;

  // height: $control-height;
  // line-height: $control-height;

  padding-left: 0;
  padding-right: 0;

  text-align: left;
  margin-bottom: $control-margin-bottom;

  @media screen and (min-width: 40em) {
    & {
      height: $control-height;
      line-height: $control-height;

      padding-left: $form-label-padding-left;
      padding-right: $form-label-padding-right;

      text-align: $form-label-text-align;
    }
  }
}

.form-action {
  display: flex;
  flex: {
    direction: column;
  }

  // margin-bottom: 0.5rem;
  // height: $control-height;

  @media screen and (min-width: 40em) {

    & {
      flex-direction: row;
    }
  }
}
