$grid-padding-x: .25rem;
$grid-padding-y: .8rem;

.row, [class*=row-] {
  @include flex;
};

.col, [class*=col-] {
  @include flex;
};

.row, [class*=row-] {
  align-items: flex-start;
  margin: 0 0 0 #{-$grid-padding-x};
  width: calc(#{$grid-padding-x*2} + 100%);
  &.no-gutter {
    margin: 0;
    width: 100%;
    > .col, [class*=col-]  {
      padding: 0;
    }
  }
}

.col, [class*=col-] {
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0%;
  padding: 0 $grid-padding-x $grid-padding-y;
}

@for $i from 1 to $grid-columns {
  .col-#{$i} {
    flex-basis: #{$i*100/$grid-columns+'%' };
    max-width: #{$i*100/$grid-columns+'%' };
  }
}

@for $i from 1 to $grid-columns {
  .row-#{$i} > .col { min-width: #{100/$i+'%'}};
}

@for $i from 1 to $grid-columns {
  .offset-#{$i} { margin-left: #{$i*100/$grid-columns+'%' }}
}

// RESPONSIVE ROWS
.row[class*=tablet-] > .col,
.row[class*=desktop-] > .col,
.row[class*=widescreen-] > .col {
  min-width: 100%;
}

@each $key, $value in $breakpoints {
  @media all and (min-width: $value) {
    @for $i from 1 to $grid-columns {
      .row.#{$key}-#{$i} > .col { min-width: #{100/$i+'%'}};
    }
  }
}

/*
// RESPONSIVE COLS
.col[class*=sm-], .col[class*=md-], .col[class*=lg-]{
  min-width: 100%;
}

@for $i from 1 to $columns {
  .col.xs-$i { min-width: calc($i*100/$columns)% }
}

@media all and (min-width: $breakpoint-sm) {
  @for $i from 1 to $columns {
    .col.sm-$i { min-width: calc($i*100/$columns)% }
  }
}

@media all and (min-width: $breakpoint-md) {
  @for $i from 1 to $columns {
    .col.md-$i { min-width: calc($i*100/$columns)% }
  }
}

@media all and (min-width: $breakpoint-lg) {
  @for $i from 1 to $columns {
    .col.lg-$i { min-width: calc($i*100/$columns)% }
  }
}
*/