.box {
  padding: 50px 20px;
  color: $text-color;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  vertical-align: middle;

  @each $name, $color in $color-theme {
    @include element($name) {
      color: map_get($color, color);
      background-color: map_get($color, background);
    }
  }
}

