@mixin create-btn-theme($btn) {
  background-color: map_get($btn, background);
  border-color: map_get($btn, border);
  color: map_get($btn, color);
  &:hover {
    background-color: map_get($btn, hover);
    border-color: map_get($btn, hover);
  }
  &:focus, &.active {
    border-color: #808080;
    outline: none;
  }
  &.btn-outline {
    background-color: transparent;
    color: map_get($btn, border);
    &:hover {
      background-color: map_get($btn, hover);
      color: #ffffff;
    }
  }
  &.btn-flat {
    background-color: transparent;
    border: transparent;
    color: map_get($btn, border);
    &:hover {
      background-color: map_get($btn, hover);
      color: #ffffff;
    }
  }
  &.btn-clear {
    background-color: transparent;
    border: transparent;
    color: map_get($btn, border);
    &:hover {
      color: map_get($btn, hover);
    }
  }
}

@mixin create-btn-size($btn) {
  border-radius: map_get($btn, radius);
  font-size: map_get($btn, font-size);
  padding: map_get($btn, padding);
}

$btn-theme-default-name: nth(map_keys($btn-theme), 1);
$btn-size-default-name: nth(map_keys($btn-size), 1);

.btn {
  //background-color: $background-color;
  border: 1px solid;
  //border: 1px solid map-get($btn-default,border);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: $btn-font-size;
  font-weight: normal;
  line-height: 1.4em;
  /*letter-spacing: .1em;*/
  margin: 0;
  text-align: center;
  text-decoration: none;
  /*text-transform: uppercase;*/
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  /*width: auto;*/
  -webkit-appearance: none;
  &.btn-flat {
    text-decoration: underline;
  }
  @include create-btn-theme(map-get($btn-theme, $btn-theme-default-name)); //default
  @include create-btn-size(map-get($btn-size, $btn-size-default-name)); //default

  &.btn-block {
    width: 100%;
  }
  transition: all .2s ease-in-out;
}

@each $name, $btn in map_remove($btn-theme, $btn-theme-default-name) {
  .btn-#{$name} {
    @include create-btn-theme($btn)
  }
}

@each $name, $btn in map_remove($btn-size, $btn-size-default-name) {
  .btn-#{$name} {
    @include create-btn-size($btn)
  }
}

.btn.btn-thick {
  border: 2px solid;
}

.btn[disabled], .btn[disabled]:hover {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  color: #808080 !important;
  cursor: not-allowed;
  &.btn-outline {
    background-color: transparent;
  }
  &.btn-flat, &.btn-clear {
    border: none;
    background-color: transparent;
  }
}

@include grid-component-width('btn-width');
