.checkbox {
  background-color: #ffffd0;
  cursor: pointer;
  display: block;
  margin-bottom: 0.5rem;
  position: relative;

  label {

    &:before {
      display: inline-block;

      @include font-icon();
      @include content-icon(1rem, ' ');
      font-size: .8rem;

      background: transparent;

      border: 1px solid $checkbox-border-color;
      border-radius: $checkbox-border-radius;
    }

    &:after {
      width: 1rem;
      height: 1rem;
    }
  }

  input[type=checkbox] {
    position: absolute;
    left: -9999px;

    &:checked + label:before {

      content: "\f00c";
      vertical-align: 1px;
      letter-spacing: 5px;
    }

    &:disabled {
      + label, + label:disabled {
        color: #b8b8b8;
      }
    }
  }

}

