.close {
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 1.75rem;
  overflow: hidden;
  position: relative;
  width: 1.75rem;
  user-select: none;
  vertical-align: middle;

  &:before, &:after {
    background-color: $text-color;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -25%;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 50%;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  @each $name, $size in $close-size {
    @include element($name) {
      height: map_get($size, size);
      width: map_get($size, size);
    }
  }

  @each $name, $theme in $close-theme {
    @include element($name) {
      color: map_get($theme, color);
      border-radius: map_get($theme, radius);
      background-color: map_get($theme, background);
      &:hover {
        background-color:  map_get($theme, hover);
      }
      &:before, &:after {
        background-color:  map_get($theme, color);
      }
    }
  }

  @each $name, $color in $color-theme {
    @include element($name) {
      color: map_get($color, color);
      background-color: map_get($color, background);
    }
  }

}
