.input {
  background-color: $input-background-color;
  border: 1px solid $input-border-color;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.7rem 0.5rem;

  -webkit-appearance: none;
  width: 100%;

  margin-bottom: $control-margin-bottom;

  &:focus {
    z-index: 2;
  }

  @each $name, $control in $input-size {
    @include element($name) {
      @include create-control-size($control)
    }
  }

  @include element('round') {
    border-radius: 100px;
  }

  @include element('thick') {
    border: 2px solid;
  }

  @include element('transparent') {
    background-color: transparent;
  }

  @each $name, $control in $input-theme {
    @include element($name) {
      background-color: map_get($control, background);
      border-color: map_get($control, border);
    }
  }
}

.icon-addon {
  position: relative;
  input {
    /*border-radius: 100px;*/
    padding-left: 1.75em;
  }
  .fa {
    pointer-events: none;
    padding: 0.8em 10px;
    position: absolute;
    /*right: 0px;*/
  }
}

.icon-addon .input {
  &.is-xs {
    padding-left: 2em;
  }
  &.is-sm {
    padding-left: 2em;
  }
  &.is-md {
    padding-left: 1.5em;
  }
  &.is-lg {
    padding-left: 1.5em;
  }
}

@each $name, $color in $color-theme {
  .input.is-#{$name} {
    border-color: map_get($color, color);
    background-color: $input-background-color;
  }
}

@include control-width($grid-columns, 'input');