.input {
  background-color: $input-background;
  border: 1px solid $input-border-color;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.7rem 0.5rem;

  -webkit-appearance: none;
  width: 100%;

  &:focus {
    z-index: 2;
  }
}

.input-xs {
  border-radius: $btn-xs-radius;
  font-size: 0.7rem;
  padding: 0.7em 0.5em;
}
.input-sm {
  border-radius:  $btn-sm-radius;
  font-size: 0.8rem;
  padding: 0.7em 0.5em;
}
.input-md {
  border-radius:  $btn-md-radius;
  font-size: 1.2rem;
  padding: 0.7em 0.5em;
}
.input-lg {
  border-radius:  $btn-lg-radius;
  font-size: 1.6rem;
  padding: 0.7em 0.5em;
}

.input-round {
  border-radius: 100px;
}
.input-thick {
  border: 2px solid;
}
.input-transparent {
  background-color: transparent;
}

@for $i from 1 to $columns + 1 {
  .input-width-#{$i} {
    width: calc(#{$i*100/$columns+'%'});
  }
}

.input-error {
  background-color: #ffd2cc;
  border-color: #ff5f3a;
}

.input-success {
  background-color: #d2ffcc;
  border-color: #5bd042;
}

.icon-addon {
  position: relative;
  input {
    /*border-radius: 100px;*/
    padding-left: 1.75em;
  }
  .fa {
    pointer-events: none;
    padding: 0.8em 10px;
    position: absolute;
    /*right: 0px;*/
  }
}

.icon-addon .input {
  &.is-xs {
    padding-left: 2em;
  }
  &.is-sm {
    padding-left: 2em;
  }
  &.is-md {
    padding-left: 1.5em;
  }
  &.is-lg {
    padding-left: 1.5em;
  }
}

@each $name, $color in $color-theme {
  .input.is-#{$name} {
    border-color: $color;
    background-color: $input-background;
  }
}
