.label {
  background-color: $label-background-color;
  color: $label-color;
  display: inline-block;

  font-size: 1rem;
  font-weight: 800;

  //line-height: .75rem;
  // padding: 0.25em 0.5em;
  // margin-bottom: 0.25em;

  @include element('required') {
    color: #ff0000;
    font-size: 0.9rem;
  }

  @include element('description') {
    color: #808080;
    font-size: .75rem;
    font-weight: normal;
  }

  @include element('success') {
    color: #5bd042;
    font-size: .9rem;
    font-weight: normal;
  }

  @include element('error') {
    color: #ff5f3a;
    font-size: .9rem;
    font-weight: normal;
  }
}

