.radio {
  background-color: #ffffd0;
  cursor: pointer;
  display: block;
  margin-bottom: 0.5rem;
  position: relative;

  input[type=radio] {
    position: relative;
    margin: 0 0.25rem 0 0;
    cursor: pointer;

    &:before {
      position: absolute;
      content: "";

      top: 0.2rem;
      left: 0.25rem;
      z-index: 1;
      width: 0.5rem;
      height: 0.5rem;
      background: $text-color;
      border-radius: 50%;
      transition: transform 0.2s cubic-bezier(0.3, 1, 0.5, 0.75);
      transform: scale(0, 0);
    }


    &:checked:before {
      transform: scale(1, 1);
    }

    &:after {
      position: absolute;
      content: "";
      top: -0.05rem;
      left: 0rem;

      width: 1rem;
      height: 1rem;

      background: #fff;
      border: 1px solid #d1d1d1;
      border-radius: 50%;
    }

    &:disabled {
      &:before {
        background: #d1d1d1;
      }
      + label, + label:disabled {
        color: #b8b8b8;
      }
    }

  }


}


