<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashmoard Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="../../css/gedeonix-ui.css" rel="stylesheet">
    <style>
        body {
            background-color: #f0f0f0;
        }
        .main {
            background-color: #ffffff;
            min-height: 1000px;
            width: 100%;
            padding: 10px;
        }
    </style>
</head>
<body>

<header class="header is-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="brand">Dashboard</div>
        </div>
    </div>
</header>

<div class="row no-gutter">
    <div class="col xs-12 sm-3 lg-2">
        <ul class="sidebar is-silver">
            <li class="title">Title</li>
            <li><a href="#"><i class="fa fa-dashboard"></i> Option 1</a></li>
            <li><a href="#"><i class="fa fa-support"></i> Option 2</a></li>
            <li><a href="#"><i class="fa fa-tags"></i> Option 3</a></li>
            <li class="submenu-link">
                <a>Option 4</a>
                <ul class="submenu">
                    <li><a href="#">item</a></li>
                    <li><a href="#">item</a></li>
                    <li><a href="#">item</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-tasks"></i> Option 5</a></li>
            <li><a href="#"><i class="fa fa-cube"></i> Option 6</a></li>
            <li><a href="#"><i class="fa fa-cog"></i> Option 7</a></li>
        </ul>
    </div>
    <div class="col xs-12 sm-9 lg-10">

        <main class="main">

            <ul class="breadcrumbs is-gray">
                <li><a href="#">Home</a></li>
                <li><a href="#">Settings</a></li>
                <li class="active"><a href="#">Users</a></li>
            </ul>

            <h1>Main</h1>
            <div class="row xs-1 sm-2 lg-3">
                <div class="col">
                    <div class="panel">
                        <div class="panel-header is-primary">Header</div>
                        <div class="panel-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur cupiditate distinctio dolor eaque labore minima, nam nobis odio odit officia optio, quam quasi repudiandae sequi sit tempora. Dolor, sit.
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="panel">
                        <div class="panel-header is-success">Header</div>
                        <div class="panel-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur cupiditate distinctio dolor eaque labore minima, nam nobis odio odit officia optio, quam quasi repudiandae sequi sit tempora. Dolor, sit.
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="panel">
                        <div class="panel-header is-warning">Header</div>
                        <div class="panel-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur cupiditate distinctio dolor eaque labore minima, nam nobis odio odit officia optio, quam quasi repudiandae sequi sit tempora. Dolor, sit.
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="panel">
                        <div class="panel-header is-danger">Header</div>
                        <div class="panel-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur cupiditate distinctio dolor eaque labore minima, nam nobis odio odit officia optio, quam quasi repudiandae sequi sit tempora. Dolor, sit.
                        </div>
                    </div>
                </div>
            </div>

        </main>

    </div>
</div>


<footer class="footer">

    <div class="container">
        <div class="row xs-1 sm-2 md-3">
            <div class="col is-center">
                <p>Copyright (c) 2016 <a href="#">Brand</a></p>
            </div>
        </div>
    </div>
</footer>

</body>