.btn {
  border: 1px solid #d4d4d4;
  background-color: $background-color;

  font-size: 1rem;

  margin: 0;
  padding: 0.75rem 1rem;
  color: $text-color;

  /*position: relative;*/
  cursor: pointer;
  user-select: none;
  white-space: nowrap;

  width: auto;

  border-radius: 3px;

  &.is-round {
    padding: 0.65rem 0.75rem;
    border-radius: 1000px;
    /*border-radius: 50%;*/

    &.is-sm, &.is-md, &.is-lg {
      border-radius: 1000px;
      /*border-radius: 50%;*/
    }
  }

  &:hover {
    border-color: #a0a0a0;
  }

  &:focus {
    border-color: #808080;
    outline: none;
  }

  &.is-sm {
    border-radius: 2px;
    font-size: 0.8rem;
  }
  &.is-md {
    border-radius: 4px;
    font-size: 1.2rem;
  }
  &.is-lg {
    border-radius: 5px;
    font-size: 1.4rem;
  }

  &.is-primary, &.is-success, &.is-info, &.is-warning, &.is-danger, &.is-dark {
    color: #ffffff;
    border-color: transparent;
  }

  &.is-primary:hover {
    background-color: $btn-primary-hover;
  }
  &.is-success:hover {
    background-color: $btn-success-hover;
  }
  &.is-info:hover {
    background-color: $btn-info-hover;
  }
  &.is-warning:hover {
    background-color: $btn-warning-hover;
  }
  &.is-danger:hover {
    background-color: $btn-danger-hover;
  }
  &.is-dark:hover {
    background-color: $btn-dark-hover;
  }

}