.btn {
  &.twitter {
    color: #ffffff;
    background-color: #0084b4;
    border-color: #0084b4;
  }

  &.facebook {
    color: #ffffff;
    background-color: #3b5998;
    border-color: #3b5998;
  }

  &.google-plus {
    color: #ffffff;
    background-color: #dc4a38;
    border-color: #dc4a38;
  }
}
