.btn {
  background-color: $background-color;
  border: 1px solid $btn-default-border;
  border-radius: $btn-radius; /*2em;*/
  color: $text-color;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: $btn-font-size;
  font-weight: normal;
  line-height: 1.4em;
  /*letter-spacing: .1em;*/
  margin: 0;
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  /*text-transform: uppercase;*/
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  /*width: auto;*/
  -webkit-appearance: none;
  &:hover {
    color: $btn-default-color;
    border-color: #a0a0a0;
  }
  &:focus, &.active {
    /*border-color: #808080;*/
    outline: none;
  }
  &.is-outline {
    background-color: transparent;
    color: $text-color;
    &:hover {
      background-color: $btn-default-hover;
      color: #ffffff;
    }
  }
  &.is-flat {
    border-color: transparent;
    color: $text-color;
    text-decoration: underline;
    &:hover {
      background-color: $btn-default-hover;
      color: #ffffff;
    }
  }
  &.is-clear {
    background-color: transparent;
    border-color: transparent;
    color: $text-color;
    &:hover {
      color: $btn-default-hover;
    }
  }
}

.btn.is-primary {
  background-color: $btn-primary-background;
  border-color: $btn-primary-border;
  color: #ffffff;
  &:hover {
    background-color: $btn-primary-hover;
    border-color: $btn-primary-hover;
  }
  &:focus, &.active {
    border-color: #808080;
    outline: none;
  }
  &.is-outline {
    background-color: transparent;
    color: $btn-primary-background;
    &:hover {
      background-color: $btn-primary-hover;
      color: #ffffff;
    }
  }
  &.is-flat {
    background-color: transparent;
    border: transparent;
    color: $btn-primary-background;
    &:hover {
      background-color: $btn-primary-hover;
      color: #ffffff;
    }
  }
  &.is-clear {
    background-color: transparent;
    border: transparent;
    color: $btn-primary-background;
    &:hover {
      color: $btn-primary-hover;
    }
  }
}

.btn.is-success {
  background-color: $btn-success-background;
  border-color: $btn-success-border;
  color: #ffffff;
  &:hover {
    background-color: $btn-success-hover;
    border-color: $btn-success-hover;
  }
  &:focus, &.active {
    border-color: #808080;
    outline: none;
  }
  &.is-outline {
    background-color: transparent;
    color: $btn-success-background;
    &:hover {
      background-color: $btn-success-hover;
      color: #ffffff;
    }
  }
  &.is-flat {
    background-color: transparent;
    border: transparent;
    color: $btn-success-background;
    &:hover {
      background-color: $btn-success-hover;
      color: #ffffff;
    }
  }
  &.is-clear {
    background-color: transparent;
    border: transparent;
    color: $btn-success-background;
    &:hover {
      color: $btn-success-hover;
    }
  }
}

.btn.is-info {
  background-color: $btn-info-background;
  border-color: $btn-info-border;
  color: #ffffff;
  &:hover {
    background-color: $btn-info-hover;
    border-color: $btn-info-hover;
  }
  &:focus, &.active {
    border-color: #808080;
    outline: none;
  }
  &.is-outline {
    background-color: transparent;
    color: $btn-info-background;
    &:hover {
      background-color: $btn-info-hover;
      color: #ffffff;
    }
  }
  &.is-flat {
    background-color: transparent;
    border: transparent;
    color: $btn-info-background;
    &:hover {
      background-color: $btn-info-hover;
      color: #ffffff;
    }
  }
  &.is-clear {
    background-color: transparent;
    border: transparent;
    color: $btn-info-background;
    &:hover {
      color: $btn-info-hover;
    }
  }
}

.btn.is-warning {
  background-color: $btn-warning-background;
  border-color: $btn-warning-border;
  color: #ffffff;
  &:hover {
    background-color: $btn-warning-hover;
    border-color: $btn-warning-hover;
  }
  &:focus, &.active {
    border-color: #808080;
    outline: none;
  }
  &.is-outline {
    background-color: transparent;
    color: $btn-warning-background;
    &:hover {
      background-color: $btn-warning-hover;
      color: #ffffff;
    }
  }
  &.is-flat {
    background-color: transparent;
    border: transparent;
    color: $btn-warning-background;
    &:hover {
      background-color: $btn-warning-hover;
      color: #ffffff;
    }
  }
  &.is-clear {
    background-color: transparent;
    border: transparent;
    color: $btn-warning-background;
    &:hover {
      color: $btn-warning-hover;
    }
  }
}

.btn.is-danger {
  background-color: $btn-danger-background;
  border-color: $btn-danger-border;
  color: #ffffff;
  &:hover {
    background-color: $btn-danger-hover;
    border-color: $btn-danger-hover;
  }
  &:focus, &.active {
    border-color: #808080;
    outline: none;
  }
  &.is-outline {
    background-color: transparent;
    color: $btn-danger-background;
    &:hover {
      background-color: $btn-danger-hover;
      color: #ffffff;
    }
  }
  &.is-flat {
    background-color: transparent;
    border: transparent;
    color: $btn-danger-background;
    &:hover {
      background-color: $btn-danger-hover;
      color: #ffffff;
    }
  }
  &.is-clear {
    background-color: transparent;
    border: transparent;
    color: $btn-danger-background;
    &:hover {
      color: $btn-danger-hover;
    }
  }
}

.btn.is-light {
  background-color: $btn-light-background;
  border-color: $btn-light-border;
  color: $btn-light-color;
  &:hover {
    background-color: $btn-light-hover;
    border-color: $btn-light-hover;
  }
  &:focus, &.active {
    border-color: #808080;
    outline: none;
  }
  &.is-outline {
    background-color: transparent;
    color: $btn-light-color;
    &:hover {
      background-color: $btn-light-hover;
      color: $btn-light-color;
    }
  }
  &.is-flat {
    background-color: transparent;
    border: transparent;
    color: $btn-light-color;
    &:hover {
      background-color: $btn-light-hover;
      color: #ffffff;
    }
  }
  &.is-clear {
    background-color: transparent;
    border: transparent;
    color: $btn-light-color;
    &:hover {
      color: $btn-light-hover;
    }
  }
}

.btn.is-dark {
  background-color: $btn-dark-background;
  border-color: $btn-dark-border;
  color: #ffffff;
  &:hover {
    background-color: $btn-dark-hover;
    border-color: $btn-dark-hover;
  }
  &:focus, &.active {
    border-color: #808080;
    outline: none;
  }
  &.is-outline {
    background-color: transparent;
    color: $btn-dark-background;
    &:hover {
      background-color: $btn-dark-hover;
      color: #ffffff;
    }
  }
  &.is-flat {
    background-color: transparent;
    border: transparent;
    color: $btn-dark-background;
    &:hover {
      background-color: $btn-dark-hover;
      color: #ffffff;
    }
  }
  &.is-clear {
    background-color: transparent;
    border: transparent;
    color: $btn-dark-background;
    &:hover {
      color: $btn-dark-hover;
    }
  }
}

.btn {
  &.is-xs {
    border-radius: $btn-xs-radius;
    font-size: 0.6rem;
    padding: 0.5em 1em;
  }
  &.is-sm {
    border-radius:  $btn-sm-radius;
    font-size: 0.8rem;
    padding: 0.5em 1em;
  }
  &.is-md {
    border-radius:  $btn-md-radius;
    font-size: 1.2rem;
    padding: 0.45em 1em;
  }
  &.is-lg {
    border-radius:  $btn-lg-radius;
    font-size: 1.6rem;
    padding: 0.4em 1em;
  }
}

.btn.is-thick {
  border: 2px solid;
}

.btn[disabled], .btn[disabled]:hover {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  color: #808080 !important;
  cursor: not-allowed;
  &.is-outline {
    background-color: transparent;
  }
  &.is-flat, &.is-clear {
    border: none;
    background-color: transparent;
  }
}
