.group {
  display: inline-flex;
  flex-direction: row;
  vertical-align: middle;
  .btn:hover {
    z-index: 100;
  }
}

.group > * {
  margin-right: -1px;
  border-radius: 0;
}
.group > *:first-child {
  border-radius: 4px 0 0 4px;
}
.group > *:last-child {
  border-radius: 0 4px 4px 0;
}



.group.vertical {
  flex-direction: column;
}

.group.vertical > * {
  margin-left: 0;
  margin-bottom: -1px;
}

.group.vertical > *:first-child {
  border-radius: 4px 4px 0 0;
}

.group.vertical > *:last-child {
  border-radius: 0 0 4px 4px;
}

.group-label {
  background-color: $group-label-background;
  border: 1px solid $input-border-color;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.55rem 0.5rem;
  line-height: normal;
}