input, select, textarea {
  background-color: $input-background;
  border: 1px solid $input-border-color;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;

  &.is-xs {
    border-radius: $btn-xs-radius;
  }
  &.is-sm {
    border-radius:  $btn-sm-radius;
  }
  &.is-md {
    border-radius:  $btn-md-radius;
  }
  &.is-lg {
    border-radius:  $btn-lg-radius;
  }
  /*
  &.is-sm {
    border-radius: 2px;
    font-size: 0.8rem;
  }
  &.is-md {
    border-radius: 4px;
    font-size: 1.2rem;
  }
  &.is-lg {
    border-radius: 5px;
    font-size: 1.4rem;
  }
  */

  &:focus {
    z-index: 2;
  }
}

input, select, textarea, .fa {
  &.is-xs {
    font-size: 0.7rem;
    padding: 0.6em 0.5em;
  }
  &.is-sm {
    font-size: 0.8rem;
    padding: 0.5em 0.5em;
  }
  &.is-md {
    font-size: 1.2rem;
    padding: 0.4em 0.5em;
  }
  &.is-lg {
    font-size: 1.6rem;
    padding: 0.25em 0.5em;
  }
}

input, select, textarea {
  &.is-round {
    border-radius: 100px;
  }
}

select, textarea, select, fieldset {
  /*margin-bottom: 0.5rem;*/
}

input[type=text],
input[type=tel],
input[type=password],
input[type=number],
input[type=email],
input[type=search],
select, textarea {
  -webkit-appearance: none;
  width: 100%;
}

input.error {
  background-color: #ffd2cc;
  border-color: #ff5f3a;
}

input.success {
  background-color: #d2ffcc;
  border-color: #5bd042;
}

.icon-addon {
  position: relative;
  input {
    /*border-radius: 100px;*/
    padding-left: 1.75em;
  }
  .fa {
    pointer-events: none;
    padding: 10px 10px;
    position: absolute;
    /*right: 0px;*/
  }
}

.icon-addon input {
  &.is-xs {
    padding-left: 2em;
  }
  &.is-sm {
    padding-left: 2em;
  }
  &.is-md {
    padding-left: 1.5em;
  }
  &.is-lg {
    padding-left: 1.5em;
  }
}
