.panel {

  border: 1px solid $panel-border;
  border-radius: $panel-radius;

  padding: 0;
  margin: 20px 0;

  background-color: transparent;

  .panel-header {
    font-weight: bold;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid $panel-border;
  }

  .panel-content {
    padding: 10px;
  }


}

