.btn {
  &.twitter {
    color: #ffffff;
    background-color: #0084b4;
    border-color: #0084b4;
    &:hover {
      background-color: #008fc2;
    }
  }

  &.facebook {
    color: #ffffff;
    background-color: #3b5998;
    border-color: #3b5998;
    &:hover {
      background-color: #446db5;
    }  }

  &.google-plus {
    color: #ffffff;
    background-color: #dc4a38;
    border-color: #dc4a38;
    &:hover {
      background-color: #f04f3d;
    }  }
}
