table {
  font-size: inherit;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  th {
    text-align: center;
    vertical-align: middle;
    color: $text-color;
  }

  td {
    text-align: left;
    vertical-align: middle;
  }

}

.table {
  background-color: $background-color;
  margin-bottom: 10px;

  th, td {
    border: 1px solid #d0d0d0;
    border-width: 0 0 1px;
    padding: 4px 8px;
  }

  tr:last-child td {
    border-bottom-width: 0;
  }

  thead th, thead td {
    border-width: 0 0 2px;
    color: #8b8b8b;
  }

  tfoot th, tfoot td {
    border-width: 2px 0 0;
    color: #8b8b8b;
    padding: 8px 8px;
  }
}

.table.is-border {
  th {
    background-color: #fafafa;
  }
  th, td {
    border-width: 1px;
  }
  tr:last-child td {
    border-bottom-width: 1px;
  }
}

.table.is-striped > tbody > tr:nth-child(odd) {
  background: #fdfdfd;
}

.table.is-hover > tbody {
  tr:hover {
    background: #f5f5f5;
    color: #303030;
  }
}

