.tile-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$tile-gutter;
}

.tile-container {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.tile {
  flex: 1 1 auto;
  margin-left: $tile-gutter;
  margin-bottom: $tile-gutter;
  padding: 1rem;
}

.tile:hover {
  opacity: 0.5;
}

