.is-text-center {
  text-align: center;
}

.is-text-left {
  text-align: left;
}

.is-text-right {
  text-align: right;
}

.is-underline {
  text-decoration: underline;
}

.is-space {
  flex-grow: 1;
}

.is-round {
  border-radius: 50%;
}

.is-columns {
  flex-direction: column;
}

.is-pack {
  width: 1%;
}

.is-block {
  width: 100%;
  /*display: block;*/
}

.is-center {
  margin: 0 auto;
}

.is-show {
  display: block;
}

.is-gutter {
  padding-right: 1rem;
  padding-left: 1rem;
}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}

.is-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

.is-shadow {
  box-shadow: 1px 1px 1px #2c2c2c;
}

@each $item, $color in
                (white,gray,dark,primary,success,info,warning,danger),
                (#ffffff,$gray-color,$dark-color,$primary-color,$success-color,$info-color,$warning-color,$danger-color),
{
  .is-$(item) {
    background-color: $color;
  }
}


