.is-text-center {
  text-align: center;
}

.is-space {
  flex-grow: 1;
}

.is-white {
  background-color: #ffffff;
}

.is-gray {
  background-color: $gray-color;
}

.is-dark {
  background-color: $dark-color;
}

.is-primary {
  background-color: $primary-color;
}

.is-success {
  background-color: $success-color;
}

.is-info {
  background-color: $info-color;
}

.is-warning {
  background-color: $warning-color;
}

.is-danger {
  background-color: $danger-color;
}

.is-round {
  border-radius: 50%;
}

.is-columns {
  flex-direction: column;
}

.is-pack {
  width: 1%;
}

.is-block {
  width: 100%;
}

.is-center {
  margin: 0 auto;
}

.is-show {
  display: block;
}

/*
.is-gutter {
  padding-right: 1rem;
  padding-left: 1rem;
}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}
*/

.is-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
}

.is-shadow {
  box-shadow: 1px 1px 1px #2c2c2c;
}

.is-left {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 0;
  justify-content: flex-start;
}

.is-right {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  justify-content: flex-end;
}