label {
  color: $label-color;
  font-weight: bold;
}

input {
  border: 1px solid $input-border-color;
  border-radius: 3px;
  padding: 0.5em 0.5em;
  font-size: 17px;
}

input[type=text],
input[type=password],
input[type=number],
input[type=search] {
  width: 100%;
}