.footer {
  display: block;
  width: auto;
  text-align: center;
  color: $footer-text-color;
  background-color: $footer-background-color;

  padding: 10px 0;

  a {
    color: $footer-text-color;
  }
}