.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.row.is-gutter {
  margin: 0;
  > * {
    margin: 0 $gutter $gutter 0;
  }
  > *:last-child {
    margin-right: 0;
  }
}

.col {
  /*border: none;*/
  flex-grow: 1;
}

[class*="col-"] {
  /*border: none;*/
}

.col-1 {
  flex-grow: 0;
  width: 8.3333333%;
}

.col-2 {
  flex-grow: 0;
  width: 16.6666667%;
}

.col-3 {
  flex-grow: 0;
  width: 25%;
}

.col-4 {
  flex-grow: 0;
  width: 33.3333333%;
}

.col-5 {
  flex-grow: 0;
  width: 41.6666667%;
}

.col-6 {
  flex-grow: 0;
  width: 50%;
}

.col-7 {
  flex-grow: 0;
  width: 58.3333333%;
}

.col-8 {
  flex-grow: 0;
  width: 66.6666667%
}

.col-9 {
  flex-grow: 0;
  width: 75%;
}

.col-10 {
  flex-grow: 0;
  width: 83.3333333%;
}

.col-11 {
  flex-grow: 0;
  width: 91.6666667%;
}

.col-12 {
  flex-grow: 0;
  width: 100%
}

@media screen {
  .col-sm, .col-md, .col-lg {
    background-color: #c1fff5;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}

@media screen and (min-width: $sm) {
  .col-sm {
    background-color: #90ff95;
    flex-shrink: 1;
    flex-basis: auto;
  }
}

@media screen and (min-width: $md) {
  .col-md {
    background-color: #f5ff6a;
    flex-shrink: 1;
    flex-basis: auto;
  }
}

@media screen and (min-width: $lg) {
  .col-lg {
    background-color: #ffa188;
    flex-shrink: 1;
    flex-basis: auto;
  }
}
