.is-gutter {
  margin: $gutter;
}

.is-text-center {
  text-align: center;
}

.is-space {
  flex-grow: 1;
}

.is-white {
  background-color: #ffffff;
}

.is-gray {
  background-color: $gray-color;
}

.is-dark {
  background-color: $dark-color;
}

.is-primary {
  background-color: $primary-color;
}

.is-success {
  background-color: $success-color;
}

.is-info {
  background-color: $info-color;
}

.is-warning {
  background-color: $warning-color;
}

.is-danger {
  background-color: $danger-color;
}

.is-round {
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.is-columns {
  flex-direction: column;
}

.is-pack {
  width: 1%;
}