@mixin font-icon() {
  font-family: $font-icon;
  font-style: normal;
  //font-weight: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin atom-block() {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  clear: none;
  float: none;
  background: none;
}

@mixin atom-icon($size, $content) {
  content: $content;
  line-height: $size;
  height: $size;
  width: $size;
  text-align: center;
  padding: 0;
  margin: 0;
}
