.is-text-center {
  text-align: center;
}

.is-text-left {
  text-align: left;
}

.is-text-right {
  text-align: right;
}

.is-underline {
  text-decoration: underline;
}

.is-space {
  flex-grow: 1;
}

.is-round {
  border-radius: 50%;
}

.is-columns {
  flex-direction: column;
}

.is-pack {
  width: 1%;
}

.is-block {
  width: 100%;
  /*display: block;*/
}

.is-center {
  margin: 0 auto;
}

.is-show {
  display: block;
}

.is-gutter {
  padding-right: $gutter-xs;
  padding-left: $gutter-xs;
}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}

.is-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

.is-shadow {
  box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}

.is-white {
  background-color: #ffffff;
}

.is-gray {
  background-color: $gray-color;
}

.is-dark {
  background-color: $dark-color;
}

.is-primary {
  background-color: $primary-color;
}

.is-success {
  background-color: $success-color;
}

.is-info {
  background-color: $info-color;
}

.is-warning {
  background-color: $warning-color;
}

.is-danger {
  background-color: $danger-color;
}

.is-pull-right {
  float: left
}

.is-pull-right {
  float: left;
}

.is-full-max-width {
  max-width: 100%;
}

