$font-family: 'Open Sans',sans-serif;

$text-color: #606060;
$background-color: #ffffff;

$header-text-color: #e0e0e0;
$header-background-color: #808080;

$footer-text-color: #ffffff;
$footer-background-color: #d4d4d4;

$gutter: 10px;