$gray-color:                    #808080;

$primary-color:                 #55acee;
$success-color:                 #94cd5a;
$info-color:                    #6ad1dd;
$warning-color:                 #ffb812;
$danger-color:                  #fc6e51;
$dark-color:                    #4e4f51;

$text-color: #27506d;
$background-color: #e0efff;

$header-text-color:             #ffffff;
$header-background-color:       #4a97d1;

$footer-text-color:             #ffffff;
$footer-background-color:       #4a97d1;

$btn-radius:                    0;

$btn-xs-radius:                 0;
$btn-sm-radius:                 0;
$btn-md-radius:                 0;
$btn-lg-radius:                 0;

$input-background:              #f2f2f2;