
$gray-color:                    #808080;

$primary-color:                 #55acee;
$success-color:                 #94cd5a;
$info-color:                    #6ad1dd;
$warning-color:                 #ffb812;
$danger-color:                  #fc6e51;
$dark-color:                    #4e4f51;

$text-color:                    #ffffff;
$background-color:              #606060;

$header-text-color:             #d4d4d4;
$header-background-color:       #303030;

$footer-text-color:             #d4d4d4;
$footer-background-color:       #303030;


$input-background: #f2f2f2;