.is-text-center {
  text-align: center;
}

.is-text-left {
  text-align: left;
}

.is-text-right {
  text-align: right;
}

.is-underline {
  text-decoration: underline;
}

.is-space {
  flex-grow: 1;
}

.is-round {
  border-radius: 50%;
}

.is-columns {
  flex-direction: column;
}

.is-pack {
  width: 1%;
}

.is-block {
  width: 100%;
  /*display: block;*/
}

.is-center {
  margin: 0 auto;
}

.is-show {
  display: block;
}

.is-gutter {
  padding-right: $gutter-xs;
  padding-left: $gutter-xs;
}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}

.is-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

.is-shadow {
  box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}

.is-shadow-2x {
  box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}

.is-shadow-4x {
  box-shadow: 0px 4px 4px rgba(0,0,0,0.4);
}

.is-pull-right, .on-right {
  float: right;
}

.is-pull-left, .on-left {
  float: left;
}

.is-full-max-width {
  max-width: 100%;
}

.is-flex-start {
  justify-content: flex-start;
}

.is-flex-end {
  justify-content: flex-end;
}

.is-flex-center {
  justify-content: center;
}

.is-space-around {
  justify-content: space-around;
}

.is-space-between {
  justify-content: space-between;
}

.is-stretch {
  align-items: stretch;
}

.is-flex-auto {
  flex: 1 1 auto;
}

/*
.is-vertical {
  flex-flow: column;
  align-items: stretch;
}
*/

.is-vertical {
  flex-direction: column;
}

/*
.is-gap {
  padding-left: 0.25em;
  padding-right: 0.25em;
}
*/

.is-margin-none {
  margin: 0;
}

.is-margin {
  margin: 1em;
}

.is-padding-none {
  padding: 0;
}

.is-padding {
  padding: 1em;
}

.hide {
  display: none;
}

.upper {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}

.is-bottom-border {
  border-bottom: 1px solid currentColor;
}

.reset-left-radius {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.reset-right-radius {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.reset-radius {
  border-radius: 0 !important;
}


@media screen and (min-width: $breakpoint-sm) {
  .is-hidden-min-sm {
    display: none !important;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .is-hidden-min-md {
    display: none !important;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .is-hidden-min-lg {
    display: none !important;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .is-hidden-max-sm {
    display: none !important;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .is-hidden-max-md {
    display: none !important;
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .is-hidden-max-lg {
    display: none !important;
  }
}


.is-white {
  background-color: #ffffff;
}

.is-light {
  background-color: $light-color;
}

.is-dark {
  background-color: $dark-color;
}

.is-primary {
  background-color: $primary-color;
}

.is-success {
  background-color: $success-color;
}

.is-info {
  background-color: $info-color;
}

.is-warning {
  background-color: $warning-color;
}

.is-danger {
  background-color: $danger-color;
}
