$font-family:                   'Lato', sans-serif;
$font-size:                     16px;

$text-color:                    #606060 !default;
$background-color:              #ffffff !default;

$white-color:                   #ffffff;
$gray-color:                    #fafafa !default;
$dark-color:                    #4e4f51 !default;

$btn-font-size:                 1rem !default;

$color-default: #fafafa;
$color-theme: (
  primary:  #55acee,
  success:  #5acd59,
  info:     #6ad1dd,
  warning:  #ffb812,
  danger:   #fc6e51,
  light:    #fafafa,
  dark:     #4e4f51
);

$btn-default:  (color: #606060, background: transparent, border: #d4d4d4, hover: #f0f0f0, active: #ffffff);
$btn-theme: (
  primary:  (color: #ffffff, background: #65bcfe, border: #65bcfe, hover: #459cde, active: #2ba369),
  success:  (color: #ffffff, background: #5acd59, border: #94cd5a, hover: #32c07f, active: #2ba369),
  info:     (color: #ffffff, background: #6ad1dd, border: #4cdadd, hover: #41c2e2, active: #40bbdd),
  warning:  (color: #ffffff, background: #ffa924, border: #ffa924, hover: #ffd11e, active: #ffd11e),
  danger:   (color: #ffffff, background: #fc573f, border: #fc573f, hover: #fc4016, active: #dc3816),
  light:    (color: #a0a0a0, background: #fafafa, border: #a0a0a0, hover: #909090, active: #d0d0d0),
  dark:     (color: #ffffff, background: #4e4f51, border: #4e4f51, hover: #b0b1b6, active: #8a8b8f)
);

$btn-radius:                    4px !default;

$btn-xs-radius:                 2px !default;
$btn-sm-radius:                 3px !default;
$btn-md-radius:                 5px !default;
$btn-lg-radius:                 6px !default;

$popup-defult: (color: #404040, background: #ffff80);

$link-color:                    #0067c5 !default;
$link-color-hover:              #1A81DF !default;

$panel-radius:                  4px !default;
$panel-border:                  #d4d4d4 !default;

$card-radius:                  4px !default;
$card-border:                  #d4d4d4 !default;

$label-color:                   #606060 !default;

$input-border-color:            #d4d4d4 !default;
$input-background:              $background-color !default;

$group-label-color:             #a0a0a0 !default;
$group-label-background:        #fafafa !default;

$columns:                       12 !default;

$gutter-xs:                     0.25rem !default;
$gutter-sm:                     0.5rem !default;
$gutter-md:                     0.75rem !default;
$gutter-lg:                     1rem !default;

$breakpoints: (sm: 40em, md: 64em, lg: 90em) !default;

$breakpoint-lg:                 map-get($breakpoints, lg) !default;

$header-text-color:             #808080 !default;
$header-background-color:       #d4d4d4 !default;

$footer-text-color:             #ffffff !default;
$footer-link-color:             #ffffff !default;
$footer-link-color-hover:       #808080 !default;
$footer-background-color:       #d4d4d4 !default;

$tile-gutter:                   0.5rem !default;

$outline-color:                 #0067c5 !default;

