.is-red {
  background-color: #ff0000;
}

.is-cyan {
  background-color: #00ffff;
}

.is-coral {
  background-color: #ff7f50;
}

.is-blue {
  background-color: #0000ff;
}

.is-purple {
  background-color: #800080;
}

.is-yellow {
  background-color: #ffff00;
}

.is-lime {
  background-color: #00ff00;
}

.is-magenta {
  background-color: #ff00ff;
}

.is-indigo {
  background-color: #4b0082;
}

.is-orange {
  background-color: #ffa500;
}

.is-brown {
  background-color: #a52a2a;
}

.is-maroon {
  background-color: #800000;
}

.is-green {
  background-color: #008000;
}

.is-teal {
  background-color: #008080;
}

.is-olive {
  background-color: #808000;
}

.is-white {
  background-color: #ffffff;
}

.is-gray {
  background-color: #808080;
}

.is-silver {
  background-color: #c0c0c0;
}

.is-black {
  background-color: #000000;
}
