html {
  box-sizing: border-box;
  color: $text-color;
  background-color: $footer-background-color;
  font-family: $font-family;
  font-size: $font-size;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

a {
  cursor: pointer;
}
.fixed-space {
  margin-bottom: 48px;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: 0px 0px 2px $outline-color;
}
