h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.313rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

pre {
  display: block;
  padding: 0.1rem;
  margin: 0 0 0.5rem;

  font-size: 1rem;
  line-height: 0.9rem;
  word-break: break-all;
  word-wrap: break-word;

  border: 1px solid #cccccc;
  border-radius: 3px;
  color: #212121;
  background-color: #f5f5f5;
}

a {
  color: $link-color;
  &:hover {
    color: $link-color-hover;
  }
  padding: 2px;
}
