.footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  display: block;
  padding: 10px 0;
  text-align: center;
  width: auto;
  a {
    color: $footer-link-color;
    &:hover {
      color: $footer-link-color-hover;
    }
  }
}