.header {
  background-color: $header-background-color;
  color: $header-text-color;
  min-height: 50px;
  position: relative;
  /*width: 100%;*/

  &.is-sticky {
    position: fixed;
    top: 0;
  }
}

.fixed-space {
  margin-bottom: 48px;
}
