.header {
  background-color: $header-background-color;
  color: $header-text-color;
  min-height: 50px;
  /*width: 100%;*/

  &.is-sticky {
    position: fixed;
    top: 0;
  }
}

.brand, a.brand {
  color: $header-text-color;
  font-size: 2.5em;
  font-weight: bold;
  white-space: nowrap;
  padding: 0;
}

.fixed-space {
  margin-bottom: 48px;
}
