.header {
  background-color: $header-background-color;
  color: $header-text-color;
}

.brand {
  color: $header-text-color;
  font-weight: bold;
  font-size: 2.5em;
  padding: 0;
  white-space: nowrap;
}

.fixed-space {
  margin-bottom: 48px;
}
