@mixin font-icon() {
  font-family: $font-icon;
  font-style: normal;
  //font-weight: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin create-font($font) {

  @debug $font;

  color: map_get($font, color);
  background-color: map_get($font, background);
  font-family: map_get($font, font);
  font-size: map_get($font, size);
  line-height: map_get($font, height);
}