@mixin font-icon() {

  font: {
    family: $font-icon;
    style: normal;
    //weight: normal;
    variant: normal;
  }

  line-height: 1;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin create-font($font) {

  // @debug $font;

  color: map_get($font, color);
  background-color: map_get($font, background);

  font: {
    family: map_get($font, font);
    size: map_get($font, size);
    weight: map_get($font, weight);
  }

  line-height: map_get($font, height);
}